<%= form_for (@slider) do |f| %>
<table>
	<tr>
		<td><%= f.label :image %></td>
        <td><%= f.imagebox :image %></td>
		<td><%= f.file_field 'attachment' %></td>
	</tr>

	<tr>
		<td><%= f.label :backgroundimage %></td>
		<td><%= f.file_field 'background' %></td>
	</tr>
     <tr>
     	<td><%= f.label :header %></td>
     	<td><%= f.text_field :header %></td>
     </tr>
     <tr>
     	<td><%= f.label :bodytag %></td>
     	<td><%= f.text_field :bodytag %></td>
     </tr>

	
   <tr>
   	<td><%= f.submit "upload" %></td>

</table>
<% end %>

