			<div style="float:left;width:100%">
				<%= render 'shared/side_menu' %>
			</div>

			<br>
			<div class="row">
				<div class="admin">
					<div style="text-align: center;width: 200px;height: 45px;float: left;
line-height: 40px;margin-left: -36px;background-image: url('../assets/ribbonr.jpg');background-size: 200px 100%; color:white;font-weight:bold;">
Teaching Staff
  </div>
					<div class = "hero-unit" style="border-radius:5px;margin-top:50px;">
						
						<%= simple_form_for(@teachingstaff) do |f| %>
						<%= render 'shared/error_messages', object: f.object %>

						<%= f.fields_for :teaching_staff_user do |user_form| %>
						<table class="tableform"> 
							<tbody><tr> 
								<th>Name </th>
								<td> 
									<%= user_form.text_field :name, :autofocus => true %>
								</td> 
							</tr> 
							<tr> <th>Email</th>
								<td> 
									<%= user_form.text_field :email, :required => true %>
								</td> 
							</tr>

							<tr> 
								<th>Password</th>
								<td> 
									<%= user_form.password_field :password, :required => true %>
								</td> 
							</tr> 
							<tr> 
								<th>Password confirmation</th>
								<td> 
									<%= user_form.password_field :password_confirmation, :required => true %>
								</td> 
						</tr> 

				<tr><th>Image</td>
				<td><%= user_form.file_field :attachment %></td></tr>

								


							<%end %>

							<tr><th>Description</th><td><%= f.text_area :description, :cols => "30", :rows => "10",:maxlength => 300 %></td></tr>

							<tr><th>Qualification</th><td> <%= f.text_field :qualification %></td></tr>
                          <tr> <th>Linkedin Profile URL</th>
                            <td>
                              <%= f.text_field :linkedin_profile_url%>
                            </td>
                          </tr>



							<tr><td></td><td><%= f.submit "Save", class: "btn btn-large btn-primary" %></td></tr>


							<% end %></table>
						</div>
					</div>
				</div>


