<%= form_for @blog do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </p>

<p>
  <%= f.label :tag_ids, "Tags" %>
  <%= f.collection_select :tag_ids, Tag.order(:name), :id, :name, {}, {multiple: true} %>
</p>
  <p><%= f.submit %></p>
<% end %>
