<table>

<% @account_setting.each do |account_setting| %> 
<tr>
<td><%= account_setting.knowledge_partners %></td>
<td><%= account_setting.media_partners %></td>
<td><%= account_setting.slide_show %></td>
<td><%= account_setting.popular_speak %></td>
<td><%= account_setting.testimonial %></td>

 <td><%= link_to "show",account_setting_path(account_setting) %></td>
 <td><%= link_to "edit",edit_account_setting_path(account_setting) %></td> 
 <td><%= link_to "destroy",account_setting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</table>
