<%= form_for (@account_setting) do |f| %>
<table>
	<tr>
		<td><%= f.label :knowledge_partners %></td>
		<td><%= f.check_box :knowledge_partners %></td></tr>

	<tr><td><%= f.label :media_partners %></td>
		<td><%= f.check_box :media_partners %></td></tr>


		<tr><td><%= f.label :slide_show %></td>
		<td><%= f.check_box :slide_show %></td></tr>

		
		<tr><td><%= f.label :popular_speak %></td>
		<td><%= f.check_box :popular_speak %></td></tr>

		<tr><td><%= f.label :testimonial %></td>
	    <td><%= f.check_box :testimonial %></td></tr>
        <tr><td><%= f.submit  "submit" %></td></tr>
</table>
<% end %>