<table>
<tr>
<td><%= @account_setting.knowledgepartners %></td>
<td><%= @account_setting.mediapartners %></td>
<td><%= @account_setting.slideshow %></td>
<td><%= @account_setting.popularspeak %></td>

<td><%= @account_setting.testimonial %></td>
</tr>
</table>