<table>
<tr>
<td><%= @account_setting.knowledge_partners %></td>
<td><%= @account_setting.media_partners %></td>
<td><%= @account_setting.slide_show %></td>
<td><%= @account_setting.popular_speak %></td>

<td><%= @account_setting.testimonial %></td>
</tr>
</table>