<h3 align = "center">Knowledge Partners</h3>
<table align="center">
<%= form_for @partner do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
<tr>
	<td><%=f.label 'Company Name'%></td>
	<td><%=f.text_field :companyname%></td>
</tr>

<tr>
	<td><%=f.label 'Logo' %></td>
	<!-- <td><%= image_tag(size: "100x100", alt: "")%> </td> -->
	<td><%= f.file_field :uploaded_file %></td>
</tr>
<tr >
   <td><%= f.submit "Save" %> </td>
</tr>
<% end %>
</table>