<% @footerlink.each do |footerlink| %>
 <table width="100%">
     <tr>	<td width="20%"><%= footerlink.privacypolicyurl %></td>
      <td  width="20%"><%= footerlink.aboutusurl %></td>

      <td  width="20%"><%= footerlink.contactusurl %></td>
      <td  width="20%"><%= footerlink.facebookurl %></td>
     
      </tr>
      </table>
      <table width="100%">
      	 <td  width="20%"><%= footerlink.googleurl %> </td>
   <td  width="20%"><%= footerlink.linkedinurl %><td>
   
      <td  width="20%"><%= footerlink.termsconditionurl %> </td>
   <td  width="20%"><%= footerlink.twitterurl %><td>
   	 <td  width="20%"><%= footerlink.twitterurl %><td>
   	<td  width="20%"><%= link_to "edit",edit_footerlink_path(footerlink) %></td></tr>
      	<% end %>
      	 </table>