<% provide(:title, 'About') %>
<% provide(:effectingHeader) %>
<br/><br/>
<div class="container movedown">
  <div class="row"  align="center">
    <div class="span5" align="left">
        <div class="mycarousel" align="center">
            <div class="bs-docs-example">
                <div id="myCarousel" class="carousel slide">
                    <div class="carousel-inner">
                      <div class="item active">
                        <%= image_tag "img01.jpg"%>
                        <div class="carousel-caption">
                          <h4>First Thumbnail label</h4>
                          
                        </div>
                      </div>
                      <div class="item">
                        <%= image_tag "img02.jpg" %>
                        <div class="carousel-caption">
                          <h4>Second Thumbnail label</h4>
                          
                        </div>
                      </div>
                      <div class="item">
                        <%= image_tag "img03.jpg"%>
                        <div class="carousel-caption">
                          <h4>Third Thumbnail label</h4>
                          
                        </div>
                      </div>
                      <div class="item">
                        <%= image_tag "img04.jpg"%>
                        <div class="carousel-caption">
                          <h4>Fourth Thumbnail label</h4>
                        </div>
                      </div>
                      <div class="item">
                        <%= image_tag "img04.jpg"%>
                        <div class="carousel-caption">
                          <h4>Fifth Thumbnail label</h4>
                        </div>
                      </div>
                    </div>
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
                  </div>
              <div class="clearfix"></div>
              </div>
          </div>


    </div><!-- Span5 -->
    <div class="span7 aboutHead">
        <p>
          We specialize in teaching of latest technologies in the comfort of your browser with video lessons, coding challenges, online classes and screencasts.
          <br/>
          Learn advanced courses in many technologies that we offer like Ruby, JavaScript, Ruby on Rails, Node, Git, Design, and connect with developers you admire in our popular Play by Play series.
        </p>
    </div>
  </div>
</div>