<style>.span4{width: 400px;}
table{
text-align: justify;
}
.span4 table td img{
  width:160px;height:90px;
}
</style>
<% provide(:title, 'A Smarter Way to Learn') %>
<div style="width:100%;margin:0px auto;background-color: rgb(45, 53, 56);">

<% provide(:effectingHeader) %>
                <div id="main_area" style="margin:0px auto;width:80%;">
                        <!-- Slider -->
                        <div class="row">
                                <div class="" id="slider" >
                                        <!-- Top part of the slider -->
<div class="row" >
 <div class="" id="carousel-bounding-box" style="width:100%; background-color: rgb(45, 53, 56);">
    <div id="myCarousel" class="carousel slide">
                                                               
     <div class="carousel-inner" style="float:left;">
<div class="active item" data-slide-number="0"><%= image_tag "banner1.jpg", :class=>"img-polaroid" %></div>
<div class="item" data-slide-number="1"><%= image_tag "banner2.jpg", :class=>"img-polaroid" %></div>
<div class="item" data-slide-number="2"><%= image_tag "banner3.jpg", :class=>"img-polaroid" %></div>

 </div>
                                                        </div>
                                                </div>

 
                                               
                                        </div>
 
                                </div>
                        </div> <!--/Slider-->
 </div>
                    
<script>
  jQuery(document).ready(function($) {
 
        $('#myCarousel').carousel({
                interval: 5000
        });
 
        $('#carousel-text').html($('#slide-content-0').html());
 
        //Handles the carousel thumbnails
        $('[id^=carousel-selector-]').click( function(){
                var id_selector = $(this).attr("id");
                var id = id_selector.substr(id_selector.length -1);
                var id = parseInt(id);
                $('#myCarousel').carousel(id);
        });
 
 
        // When the carousel slides, auto update the text
        $('#myCarousel').on('slid', function (e) {
                var id = $('.item.active').data('slide-number');
                $('#carousel-text').html($('#slide-content-'+id).html());
        });
 
 
});
</script>

        <div class="span12" style=" border-radius: 10px;margin-left: 35px;width: 1282px;position:relative;margin-top: 20px;">
<h2 style="font-size: 26px;font-weight: bold;color: #576b00;padding: 10px 0px;height: 30px;text-align:center;">Popular Courses</h2>
               <div style="width:85%;margin:0px auto;">   
              <%= render 'shared/courselist' %>
            </div>
     <div class="span12" style="margin-left: 52px;width:85%;">
<div class="span5" style="padding:0px 65px; border-right:0px solid #ddd; height:300px;">
<h2 style="font-size: 18px;font-weight: bold;color: #576b00;padding: 10px 0px;height: 30px;text-align:center;">Our Knowledge Partners</h2>

<table cellpadding="10">
<tr><td>
  <%= image_tag "bauer.png", :class=>"img-polaroid", :width=>"160", :height=>"90" %>

  </td><td>
   <%= image_tag "greatlakeslogoimr.jpg" ,:class=>"img-polaroid", :width=>"160", :height=>"90" %>
   </td></tr>

<tr><td><%= image_tag "nanyang.png", :class=>"img-polaroid", :width=>"160", :height=>"90" %>
  </td><td>
  <%= image_tag "yale.png" ,:class=>"img-polaroid", :width=>"160", :height=>"90" %>
  </td></tr>
<tr><td>
  <%= image_tag "cuoa.png", :class=>"img-polaroid", :width=>"160", :height=>"90" %>
  </td><td>
  <%= image_tag "yale.png" ,:class=>"img-polaroid", :width=>"160", :height=>"90" %>
  </td></tr>
</table>

</div>

<div class="span1" style="background-image:url('assets/vertical.png');height:380px; background-repeat:no-repeat;width:5px;margin-left: 10px;
margin-top: 50px;background-size: 5px 420px;" ></div>
<div class="span4" style="padding:0px 35px;float:right;">
<h2 style="font-size: 18px;font-weight: bold;color: #576b00;padding: 10px 0px;height: 30px;text-align:center;">Learners Speak</h2>
<table cellpadding="10">
<tr><td>
  <%= image_tag "learner.jpg" ,:class=>"img-polaroid" ,:style=>"width:95px;height:90px" %><!-- <img src="assets/img/learner.jpg" class="img-polaroid" style="width:95px;height:90px;">  --></td><td>"Since signing up our team on Beacon, our developers are learning some design principles as well as beefing up on technologies they're less familiar with.”<br>
<span style="float:right;">- <strong>Ankit Gupta,
Mangalayatan University</strong></span></td></tr>
<tr><td><%= image_tag "learner.jpg" ,:class=>"img-polaroid" ,:style=>"width:95px;height:90px" %></td><td>"Since signing up our team on Beacon, our developers are learning some design principles as well as beefing up on technologies they're less familiar with.”<br>
<span style="float:right;">- <strong>Ankit Gupta,
Mangalayatan University</strong></span></td></tr>
<tr><td><%= image_tag "learner.jpg" ,:class=>"img-polaroid" ,:style=>"width:95px;height:90px" %></td><td>"Since signing up our team on Beacon, our developers are learning some design principles as well as beefing up on technologies they're less familiar with.”<br>
<span style="float:right;">- <strong>Ankit Gupta,
Mangalayatan University</strong></span></td></tr>
</table>
</div>
</div>
</div>


 </div>
</div>
</div>