<style>.span4{width: 400px;}
table{
text-align: justify;
}
.span4 table td img{
  width:160px;height:90px;
}
</style>
<% provide(:title, 'A Smarter Way to Learn') %>
<div style="width:1349px;margin:0px auto;">
<% provide(:effectingHeader) %>
 <!-- <div class="homebanner" style="background-image:url(assets/homebanner1.png);background-repeat:no-repeat;background-size:100% 100%;color:white;">
    <div class="container">
      <div class="row">
        <div class="span12" align="center" >
            <div class="bannertext">
              <h3 style="color:white;">Learning is fun</h3>
            </div>
      </div>
        <div class="clearfix"></div>
        <div class="span5" align="center" >
            <div class="bannervideo" >
              <iframe class="video-me" src="http://player.vimeo.com/video/27244727?title=1&amp;byline=1&amp;portrait=1&amp;color=ffffff" width="350" height="230" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
        </div>
        <div class="span7" align="justify">
            <div class="bannerinfo">
              <p>Beacon Online teaches management subjects in the comfort of your browser with video lessons, quizzes and screnshots.We specialize in teaching of latest technologies in
                <a href="/about" style="color:white;text-decoration:underline;">more</a></p>
              
             
            </div>
                        <%= render 'show_topics' %>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div> -->
<!-- <div class="homecourse">
    <div class="secondary-content">
    <div class="container" align="center">
      <div class="row testimonial">
        
        <h2>Popular Courses</h2>
      </div>
    </div>
  </div>
    <div class="container">
      <div class="row">
       
            
              <%= render 'shared/courselist' %>
            
              <div align="center">
                
                <%= link_to "", courses_path, :class => "browsemore" %>
                <h6 style="color:steelblue;margin:0px;"> Discover More courses</h6>

               
              </div>
      </div>
    </div>
  </div>


  <div class="ourcustomers secondary-content">
    <div class="container" align="center">
      <div class="row testimonial">
        
        <h2>Learners Speak</h2>
        <hr style="margin:5px 0px;">
        <div class="span4" style="margin-left:55px;">
          <div class="verticalcustomerbox testimonial-one" align="center">
            <div class="customerimage">
              <img src="assets/learner.jpg" />
            </div>
            <div class="testimonialtext">
              "Since signing up our team on Beacon, our developers are learning some design principles as well as beefing up on technologies they're less familiar with.”
            </div>
            <div class="testimonialauthor">
              - Ankit Gupta,<br/>Mangalayatan University
            </div>
          </div>
        </div>
        <div class="span4" style="margin-left:55px;">
          <div class="verticalcustomerbox testimonial-two">
            <div class="customerimage">
              <img src="assets/learner.jpg" />
            </div>
            <div class="testimonialtext">
              “Beacon has a library of lessons that goes far beyond the surface, touching on nearly every aspect of Finance Marketing.”
            </div>
            <div class="testimonialauthor">
              - Sumit Saxena,<br/>Great Lakes Institute of Management
            </div>
          </div>
        </div>
        <div class="span4" style="margin-left:55px;">
          <div class="verticalcustomerbox testimonial-three">
            <div class="customerimage">
              <img src="assets/learner.jpg" />
            </div>
            <div class="testimonialtext">
              "Beacon offers tremendous coverage on a wide range of topics and they do a great job of providing education and support.”
            </div>
            <div class="testimonialauthor">
              - Preeti Mishra,<br/>Great Lakes Institute of Energy Management and Research
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ourknowledgepartners secondary-content">
    <div class="container" align="center">
      <div class="row testimonial">
       
        <h2>Our Knowledge Partners</h2>

        <div class="listofkp" style="margin-left:100px;">
          <div class="firstkp">
            <img src="assets/yale.png" />
          </div>
          <div class="kp">
            <img src="assets/cuoa.png" />
          </div>
          <div class="kp">
            <img src="assets/bauer.png" />
          </div>
          <div class="kp">
            <img src="assets/illinois.png" />
          </div>
          <div class="lastkp">
            <img src="assets/nanyang.png" />
          </div>
        </div>
        
      </div>
    </div>
  </div>

  <div class="bottomadsection">
    <div class="container">
      <div class="row">
        <div class="span12" align="center" style="margin-left:65px;">
          <h3>Ready to start your learning adventure?</h2>
          
          <%= link_to "Browse Our Courses", courses_path, :class => "browseourcoursessmall" %>

          &nbsp;&nbsp;&nbsp;&nbsp;
          <% unless user_signed_in?%>
          <a href="#sign_up_Modal" role="button" data-toggle="modal" class="browseourcoursessmall">Create Account</a>
          <% end %>
        </div> -->
        <!-- <div class="span4">
          <img src="http://placehold.it/400x200/f1f1f1/000&text=Courses" class="img-polaroid"/>
        </div> -->

 <!-- Main Area -->
                <div id="main_area" style="margin-left:145px;width:1145px;">
                        <!-- Slider -->
                        <div class="row">
                                <div class="" id="slider" >
                                        <!-- Top part of the slider -->
<div class="row" >
 <div class="" id="carousel-bounding-box" style="width:100%;">
    <div id="myCarousel" class="carousel slide">
                                                               
     <div class="carousel-inner">
<div class="active item" data-slide-number="0"><%= image_tag "banner1.jpg", :class=>"img-polaroid" %></div>
<div class="item" data-slide-number="1"><%= image_tag "banner2.jpg", :class=>"img-polaroid" %></div>
<div class="item" data-slide-number="2"><%= image_tag "banner3.jpg", :class=>"img-polaroid" %></div>

 </div>
                                                        </div>
                                                </div>

 
                                               
                                        </div>
 
                                </div>
                        </div> <!--/Slider-->
 </div>
                       
<script>
  jQuery(document).ready(function($) {
 
        $('#myCarousel').carousel({
                interval: 5000
        });
 
        $('#carousel-text').html($('#slide-content-0').html());
 
        //Handles the carousel thumbnails
        $('[id^=carousel-selector-]').click( function(){
                var id_selector = $(this).attr("id");
                var id = id_selector.substr(id_selector.length -1);
                var id = parseInt(id);
                $('#myCarousel').carousel(id);
        });
 
 
        // When the carousel slides, auto update the text
        $('#myCarousel').on('slid', function (e) {
                var id = $('.item.active').data('slide-number');
                $('#carousel-text').html($('#slide-content-'+id).html());
        });
 
 
});
</script>
        <div class="span12" style=" border-radius: 10px;background: white;margin-left: 105px;width: 1155px;">
<h2 style="font-size: 18px;font-weight: bold;color: #576b00;padding: 10px 0px;height: 30px;text-align:center;">Popular Courses</h2>
                  
              <%= render 'shared/courselist' %>
            
     <div class="span12" style="margin-left: 12px;width:90%;">
<div class="span5" style="padding:0px 65px; border-right:0px solid #ddd; height:300px;">
<h2 style="font-size: 18px;font-weight: bold;color: #576b00;padding: 10px 0px;height: 30px;text-align:center;">Our Knowledge Partners</h2>

<table cellpadding="10">
<tr><td>
  <%= image_tag "bauer.png", :class=>"img-polaroid", :width=>"160", :height=>"90" %>

  </td><td>
   <%= image_tag "greatlakeslogoimr.jpg" ,:class=>"img-polaroid", :width=>"160", :height=>"90" %>
   </td></tr>

<tr><td><%= image_tag "nanyang.png", :class=>"img-polaroid", :width=>"160", :height=>"90" %>
  </td><td>
  <%= image_tag "yale.png" ,:class=>"img-polaroid", :width=>"160", :height=>"90" %>
  </td></tr>
<tr><td>
  <%= image_tag "cuoa.png", :class=>"img-polaroid", :width=>"160", :height=>"90" %>
  </td><td>
  <%= image_tag "yale.png" ,:class=>"img-polaroid", :width=>"160", :height=>"90" %>
  </td></tr>
</table>

</div>

<div class="span1" style="background-image:url('assets/vertical.png');height:380px; background-repeat:no-repeat;width:5px;margin-left: 10px;
margin-top: 50px;background-size: 5px 420px;" ></div>
<div class="span4" style="padding:0px 35px;float:right;">
<h2 style="font-size: 18px;font-weight: bold;color: #576b00;padding: 10px 0px;height: 30px;text-align:center;">Learners Speak</h2>
<table cellpadding="10">
<tr><td>
  <%= image_tag "learner.jpg" ,:class=>"img-polaroid" ,:style=>"width:95px;height:90px" %><!-- <img src="assets/img/learner.jpg" class="img-polaroid" style="width:95px;height:90px;">  --></td><td>"Since signing up our team on Beacon, our developers are learning some design principles as well as beefing up on technologies they're less familiar with.”<br>
<span style="float:right;">- <strong>Ankit Gupta,
Mangalayatan University</strong></span></td></tr>
<tr><td><%= image_tag "learner.jpg" ,:class=>"img-polaroid" ,:style=>"width:95px;height:90px" %></td><td>"Since signing up our team on Beacon, our developers are learning some design principles as well as beefing up on technologies they're less familiar with.”<br>
<span style="float:right;">- <strong>Ankit Gupta,
Mangalayatan University</strong></span></td></tr>
<tr><td><%= image_tag "learner.jpg" ,:class=>"img-polaroid" ,:style=>"width:95px;height:90px" %></td><td>"Since signing up our team on Beacon, our developers are learning some design principles as well as beefing up on technologies they're less familiar with.”<br>
<span style="float:right;">- <strong>Ankit Gupta,
Mangalayatan University</strong></span></td></tr>
</table>
</div>
</div>
</div>


 </div>
</div>
</div>