<% provide(:title, 'A Smarter Way to Learn') %>
<div style="">
<% provide(:effectingHeader) %>
 <div class="homebanner" >
    <div class="container" style="width: 100%;">
        <div class="row">
          <div class="span12" id="slider" style="width: 100%;">
            <!-- Top part of the slider -->
            <div class="row">
              <div class="" id="carousel-bounding-box">
                <div id="myCarousel" class="carousel slide">
                  <!-- Carousel items -->
                  <div class="carousel-inner">
                    <div class="active item" data-slide-number="0">      <div class="row">
                              
                          
                        
                     
                      <div class="clearfix"></div>
                      <div class="span12" align="center" style="background-image:url(assets/banner.png);background-repeat:no-repeat;background-size:100% 100%;color:white;width:100%;height: 300px;">
                      <div class="span6" align="center" style="margin-top: 40px;margin-left: 160px;">
                        <div class="bannertext">
                        <h3 style="color:white;text-align:left;">Learning for Life</h3>
                        </div>
                        <div class="bannerinfo">
                          <p style="font-size:21px;">Academic courses, certifications and curated wisdom from the finest academicians to make your learning seamless, progressive and impactful.
                           </p>
                        </div>
                        <%= render 'show_topics' %>
                     </div>
                      <div class="span4" align="justify">
                        

                        <!-- <div class="bannervideo" >
                          <iframe class="video-me" src="http://player.vimeo.com/video/27244727?title=1&amp;byline=1&amp;portrait=1&amp;color=ffffff" width="350" height="230" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                        </div> -->
                      </div>
                       </div>
                      <div class="clearfix"></div>
                    </div></div>
                    <div class="item" data-slide-number="1"><div class="row">
                      
                        
                      
                      <div class="clearfix"></div>
                      <div class="span12" align="center"  style="background-image:url(assets/banner2.png);background-repeat:no-repeat;background-size:100% 100%;color:black;width:100%;height: 300px;">

                      <div class="span5" align="center" style="margin-left: 160px;margin-top: 20px;background:url(assets/transbg.png);padding:25px;" >
                                  <div class="bannertext">
                                    <img src="assets/GREAT LAKES LOGO.jpg" width="145" height="90" style="float:left;margin:0px 5px;">
                                    <h3 style="text-align: left;font-size: 37px;line-height: 35px;font-weight: bolder;">Great Lakes Certification</h3>
                        </div>         <br>  <br>
                         <div class="bannerinfo">
                          <p style="font-size:19px;">Industry relevant and high impact online certifications from Great Lakes to propel your career ahead
                            </p>
                        </div>


                        <div class="bannerlearn" style="color:#000;">
                          <span class="learnheading" ><img src="assets/banner2_label.png" width="254" height="24"></span><br>
                              <span class="learnheading"   >
                               <% topic = Topic.find_by_name("Finance") rescue nil? %>
                              <% if !!topic %>
                                  <span class="badge1 leartopic" style="color:#000;"><%= link_to "Finance Programs", topic, class: "badge1", :style=>"color:#000;" %>
                                   |
                                  </span>
                              <% else %>
                                  <span class="badge1 leartopic" style="color:#000;"><%= link_to "Finance Programs", courses_path, class: "badge1", :style=>"color:#000;" %>
                                    |
                                  </span>
                              <% end %>
                               <% topic = Topic.find_by_name("Analytics") rescue nil? %>
                              <% if !!topic %>
                                  <span class="badge1 leartopic" style="color:#000;"><%= link_to "Analytics Programs", topic, class: "badge1", :style=>"color:#000;" %>

                                  </span>
                              <% else %>
                  about                <span class="badge1 leartopic" style="color:#000;"><%= link_to "Analytics Programs", courses_path, class: "badge1", :style=>"color:#000;" %>

                                  </span>
                             <% end %>

                           </span>



                        </div>
                        </div>
                      </div>
                      <div class="span4" align="justify">
<!--                        
<div class="bannervideo" >
                          <img src="assets/GREAT LAKES LOGO.jpg" width="250" height="160"/>
                        </div> -->
                      </div>
                      <div class="clearfix"></div>
                    </div></div>

                  </div>

                </div>
              </div>
              <div class="span4" id="carousel-text"></div>

            </div>

          </div>

        </div> <!--/Slider-->
      <div class="carousel-nav">
        <a href="#" data-to="0" class="active">1</a>
        <a href="#" data-to="1">2</a>

      </div>


    </div>


     

    </div>
  </div>
<div class="homecourse">
    <div class="secondary-content" style="margin-bottom: -35px;">
    <div class="container" align="center">
      <div class="row testimonial">
     
        <h2 style="margin-left:30px;"> Popular Courses</h2>
      </div>
    </div>
  </div>
    <div class="container">
      <div class="row">
                  
              <%= render 'shared/courselist' %>
            
 <div align="center">
         

                <%= link_to "", courses_path, :class => "browsemore" , :style=>"margin-right: -18px;"%>
                <h6 style="color:black;margin-left:0px;font-size: 18px;"> Discover More courses</h6>

               
              </div>

             
      </div>
    </div>
  </div>

<div class="homecourse">
    <div class="secondary-content" style="margin-bottom: -35px;">
    <div class="container" align="center">
      <div class="row testimonial">
      
        <h2 style="margin-left:30px;"> Certification Programs</h2>
      </div>
    </div>
  </div>
    <div class="container">
      <div class="row">

            
              <%= render 'shared/courselist1' %>
             
      </div>
    </div>
  </div>
 

   <div class="ourknowledgepartners secondary-content" style="background-image:url(assets/greyband.png);height:auto;">
    <div class="container" align="center">
      <div class="row testimonial">
               <h2 style="margin-left: 30px;">Our Knowledge Partners</h2>

        <div class="listofkp" style="padding:10px 0px;" >
          <div class="span12" style="min-width:1200px;">
            <div class="span4" style="width: 345px;text-align:center;">
          <div class="firstkp">
           <a href="<%= knowledge_partners_path %>"> <img src="assets/jigsaw.png" width="130" height="130" /></a>
           <br>
<p style="text-align: left;color: #000;font-size: 16px;font-family: source-sans-pro, sans-serif;;margin-top: 15px;font-weight: 100;">
              Jigsaw academy offers analytical training workshops for corporates and professionals and is the Skill Development Partner for Beacon in the area of Analytics and Data Science.
   </p>        
          </div>
        </div>
         <div class="span4" style="width: 345px;text-align:center;">
          <div class="kp">
            <a href="<%= knowledge_partners_path %>"> <img src="assets/GREAT LAKES LOGO.jpg" width="130" height="130"/>   </a><br>
            <p style="text-align: left;color: #000;font-size: 16px;font-family: source-sans-pro, sans-serif;;margin-top: 15px;font-weight: 100;"> 
              Consistently ranked amongst the top ten business schools in the country, Great Lakes is well known for its world class faculty, pedagogy and academic prowess. 
   </p>   
          </div>
        </div>
         <div class="span4" style="width: 345px;text-align:center;">
          <div class="lastkp">
            <a href="<%= knowledge_partners_path %>"> <img src="assets/eduPristineLogo.jpg" width="130" height="130"/>  </a>
         <br> <p style="text-align: left;color: #000;font-size: 16px;font-family: source-sans-pro, sans-serif;;margin-top: 15px;font-weight: 100;">
              Having trained over 10,000+ participants, Pristine is a leading training company for financial modeling and project finance is the Skill Development Partner for Beacon in the area of Finance.
   </p>   
          </div>
        </div></div>
        </div>
      
      </div>
    </div>
  </div>

   <div class="ourcustomers " >
    <div class="secondary-content">
    <div class="container" align="center">
      <div class="row testimonial">
       <h2 style="margin-left: 5px;">Learners <span style="color:#ff0000;"> Love</span> Beacon</h2>
        </div>
    </div>
  </div>
         <div class="container" >
      <div class="row">
          <div class="span12" style="min-width:1200px;">
        <div class="span4" style="margin-left: 65px;margin-top: 30px;width: 30%;">
          <div class="verticalcustomerbox testimonial-one" align="center">
            <div class="testimonialtext" style="background-image: url(assets/review1.png);background-size: 100% 100%;">
              "Taking the Great Lakes Analytics Certification has been one the best career decisions. The content had the perfect blend of theory and hands-on exposure. I would recommend it to all who wish to build a career in analytics."
            </div>
            <div class="testimonialauthor">
              -<strong> Mayank</strong>,<br/>Analytics Professional
            </div>
          </div>
        </div>
        <div class="span4" style="margin-left: -65px;margin-top: -10px;width: 30%;">
          <div class="verticalcustomerbox testimonial-two">
            <div class="testimonialtext" style="background-image: url(assets/review2.png);background-size: 100% 100%;">
              "I love Beacon for the quality of content and the teaching methodology. The video lectures are very interesting and one can learn at their own pace. Learning becomes so much more enjoyable when you can see the results for yourself."
            </div>
            <div class="testimonialauthor">
              -<strong> Kate</strong>,<br/>Business Manager
            </div>
          </div>
        </div>
        <div class="span4" style="margin-left: -57px;margin-top: 15px;width: 35%;">
          <div class="verticalcustomerbox testimonial-three">
            <div class="testimonialtext" style="background-image: url(assets/review3.png);background-size: 100% 100%;height: 235px;">
              "Being in sales for five years, I have been negotiating deals for a living. But I must confess, the Negotiations course really blew me off. There was so much to learn - concepts I'd never thought of explained in wonderfully simple and practical ways. I loved the course for it gave me a skill that is so tangible that I use it every day. Thumbs up Beacon ! "
            </div>
            <div class="testimonialauthor">
              - <strong> Arun</strong>,<br/>Sales Executive
            </div>
          </div>
        </div>
      </div>
      </div>
      <div align="center">
         
              <a href=""><img src="assets/plus1.png" width="62" height="62" class="browsemore"></a>
                <h6 style="color:black;margin-left:0px;font-size: 18px;">Read More Reviews</h6>
             
              </div>
    </div>
  </div>
<%= render 'shared/media_reviews' %>
  <div class="bottomadsection">
    <div class="container">
      <div class="row">
        <div class="span12" align="center" style="width: 98%;">
          <h3 style="font-size: 32px;font-weight: 300;">Step Up Your Learning Curve Today!</h3>
          
          <a href="/courses" class="browseourcoursessmall">Browse Our Courses</a>

          &nbsp;&nbsp;&nbsp;&nbsp;
           <% unless user_signed_in?%>
          <a href="#sign_up_Modal" role="button" data-toggle="modal" class="browseourcoursessmall">Create Account</a>
          <% end %>
        </div>
       
      </div>
    </div>
  </div>

 </div>