<div class="row">
<div class="span12">
<ul class="nav nav-pills .pull-left">
  <li >
<%= link_to "Users", users_path %>
</li><li >
<%= link_to "Add New Course", new_course_path %>
</li><li >
 <%= link_to "Manage Category", topics_path %>
 </li><li class="active"	>
 <%= link_to "New Category",new_topic_path %>
 </li>
 </ul>
<%- model_class = Topic -%>

<%= render :partial => 'form' %>
</div>
</div>