<div style="float:left">
	<%= render 'shared/side_menu' %>
</div>
<br>
<div class="row">
	<div class="admin">
		<div style="text-align: center;width: 200px;height: 45px;float: left;
line-height: 40px;margin-left: -36px;background-image: url('../assets/ribbonr.jpg');background-size: 200px 100%; color:white;font-weight:bold;">
New Category
  </div>
				<div class = "hero-unit" style="border-radius:5px;margin-top:50px;">
			

			<%- model_class = Topic -%>

			 <%= simple_form_for @topic, :html => { :class => 'form-horizontal' } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <table class="table table-hover ">
        <tr>
          <td><%= f.label :name, :class => 'control-label' %></td>

          <td><%= f.text_field :name, :class => 'text_field',:maxlength => 30 , :autofocus => true%></td></tr>
          <tr><td><%= f.label :color, :class => 'control-label' %> </td>
          	<td> <%= f.input :color, as: :minicolors,label:false %></td>
          </tr>
          <tr><td colspan="2" style="text-align:center;" ><%= f.submit "Create Category", :class => 'btn btn-primary'  %></td></tr>

          <% end %>
        </table>
	
		</div>
	</div></div>