<br>

  <%= render 'shared/side_menu' %>

<div class="row">
  
  <div class="admin">
   <h3 align = "center">Users</h3>
   <table>
   <tr>
   <td><%= form_tag "", :method => 'get' do %></td>
   <td><%= label_tag(:query,"Username or Email") %></td>
   <td><%= text_field_tag(:query,params[:query]) %></td>
   <td><%= label_tag(:provider,"Login Type") %></td>


   <td><%= select_tag(:provider, options_for_select(['All',['Signup','signup'],['Facebook','facebook'],['Linkedin','linkedin'],['Google','google_oauth2']], :selected => params[:provider])) %></td>


   <td valign="top"><%= submit_tag "Search", :name => nil,class:"btn btn-large btn-primary"  %></td>
   </tr>
 </table>
   
   <% end %>
           <div class="coursecount pull-left">
          <span class="badge badge-info">Found <%=pluralize(@total_users,"user")%> </span>
        </div><br/><br/>

   <table class="table table-condensed table-hover table table-striped">
    <thead>
      <tr class="tab_head">
        <th >Username</th>
        <th >Email</th>
        <th >Registered</th>
        <th>Login Type</th>
        <th >Role</th>

        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td ><%= link_to user.name, user %></td>
        <td><%= user.email %></td>
        <td><%=l user.created_at , :format=>'%d %b. %Y %I:%M'%></td>
        <% if user.provider=="google_oauth2" %>
        <td>google</td>
        <% else %>
        <td><%= user.provider %></td>
        <% end %>
        <td><%= user.roles.first.name.titleize unless user.roles.first.nil? %></td>
        <td >
          <% unless user==current_user %>
          <a data-toggle="modal" href="#role-options-<%= user.id %>" class="btn btn-mini" type="button">Change role</a>
          <%= render user %>
          <% end %>
        </td>
        <td><%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini btn-danger') unless user == current_user %></td>
      </tr>
      <% end %>

    </tbody>
  </table>


</div>
</div>

</div>


</div>
<div class='apple_pagination' align="center"><%= will_paginate  @users, :container => false %></div>

