
<% if flash[:coupon_error] %>
<div id="coupon_error" class="error">
  <%= flash[:coupon_error]%>
</div>
<% end %>

<div class="row">
  <div class="span10 ">


<%= simple_form_for(@coupon) do |f| %>




<div class = "hero-unit" style="border:1px solid #0088cc;border-radius:5px;">
  <h3 align="center">New Coupon </h3>


<%= render 'shared/error_messages', object: f.object %>
<table class="tableform">
  <tr><th>Course Name</th><td>

<div id='all_course'>
  <%= f.input :metadata, :as=>:select, :collection =>Course.where(:account_id=>@account_id).collect{|p| [p.title,p.id]}.push(['All','All']),label:false,:prompt => "Select course" %>
</div>

</div></td></tr>
  
  <tr><th>  
    </th><td>
    
    <%= hidden_field_tag :how_many, 1  %>

  </td></tr>


  <tr><th>
   Coupon Name
  </th><td>
  
  <%= f.input_field :name  %></td></tr>
  <tr><th>
    Number of times redeemable
  </th>
  <td><%= f.input :how_many,label: false %></td></tr>
  <tr><th>
    Description</th><td>
    <%= f.input_field :description,label: false %></td></tr>
    <tr><th> Alpha mask</th><td>
      <%= f.input_field :alpha_mask,label: false  %></td></tr>
      <tr><th></th><td class="hint">  ["e.g., AA-AA-AA"]</td></tr>
      <tr><th>Digit mask</th><td>
        <%= f.input_field :digit_mask,label: false  %></td></tr>
        <tr><th></th><td class="hint">  ["e.g., 11-11-11"]</td></tr>
        
         
            <tr><th>Amount off </th><td>
              <%= f.input :amount_one ,label: false %></td></tr>
          
                <tr><th>Percentage off </th><td>
                  <%= f.input :percentage_one,label: false  %></td></tr>
          
                    

                         <tr><th>Expires</th><td>
                          <%= f.input_field :expiration, :start_year => Date.today.year, :end_year => Date.today.year + 30, :order => [ :day, :month, :year], class:"date" %></td></tr>
                          <tr><th></th><td> <%= f.button :submit ,class:"btn btn-primary" %></td></tr></table>



                          <% end %>
                        </div>

                          <script>
                          $('#coupon_course_check_box').click(function(){
                            if($('#coupon_course_check_box').is(':checked')){
                              $("#select_box").hide();
                              $('#all_course').hide();
                              $('#student_email').hide();
                            } else {
                             $("#select_box").show();
                           }
                         })

                          $('#coupon_coupon_obj').click(function(){
                           var v = $('#coupon_coupon_obj').val();

                           if(v=="Course"){
                            $('#all_course').show();
                            $('#student_email').hide();
                          }
                          else if( v=="Student"){
                           $('#student_email').show();
                           $('#all_course').hide();
                         }
                         else{
                          $('#all_course').hide();
                          $('#student_email').hide();
                        }

                      });




                          </script>
                        </div>
</div>
</div>

