<% if flash[:coupon_notice] %>
  <div id="coupon_notice" class="notice">
    <%= flash[:coupon_notice]%>
  </div>
<% end %>

<% if flash[:coupon_error] %>
  <div id="coupon_error" class="error">
    <%= flash[:coupon_error]%>
  </div>
<% end %>


<%= simple_form_for @coupon do |f| %>



<div id='all_course'>
  <%= f.input :metadata, :as=>:select, :collection =>Course.all.collect{|p| [p.title,p.id]}.push(['All','All']),:prompt => "Select course" %>
</div>

</div>
  <div class="input required">
    How many? 
    <%= text_field_tag :how_many, 1 %>
  </div>

  <%= f.input :name, :label => 'Coupon name'  %>
  <%= f.input :how_many, :label => 'Number of times redeemable' %>
  <%= f.input :description, :label => 'Description' %>
  <%= f.input :alpha_mask, :label => 'Alpha mask', :placeholder => 'e.g., AA-AA-AA'  %>
  <%= f.input :digit_mask, :label => 'Digit mask', :placeholder => 'e.g., 11-11-11'  %>
  <%= f.input :category_one, :label => 'Category 1', :placeholder => 'e.g., product'  %>
  <%= f.input :amount_one, :label => 'Amount 1', :placeholder => 'Amount off'  %>
  <%= f.input :percentage_one, :label => 'Percentage off 1', :placeholder=> 'Amount off, in percent'  %>
  
  <%= f.input :category_two, :label => 'Category 2', :placeholder => 'e.g., product'  %>
  <%= f.input :amount_two, :label => 'Amount 2', :placeholder => 'Amount off'  %>
  <%= f.input :percentage_two, :label => 'Percentage off 2', :placeholder=> 'Amount off, in percent'  %>
  
  <%= f.input :expiration, :label => 'Expires', :start_year => Date.today.year, :end_year => Date.today.year + 30  %>
  
  <%= f.button :submit %>
<% end %>
