<div style="float:left">
<%= render 'shared/side_menu' %>
</div>
<div style="margin-left:200px;min-height:330px">

<table border="0" cellspacing="5" cellpadding="5">
  <tr>
    <th>Alpha code</th>
    <th>Alpha mask</th>
    <th>Digit code</th>
    <th>Digit mask</th>
    <th>Course</th>
    <th style="text-align:right">Amount off<br/> Course</th>
    <th style="text-align:right">Percentage off<br/> Course</th>
    <th style="text-align:right">Service Tax</th>
    <th style="text-align:right">Amount off <br/>Service Tax</th>
    <th style="text-align:right">Percentage <br/>off Service Tax</th>
    <th>Expiration</th>
    <th style="text-align:right">Number Redeemed</th>
  </tr>

  <% @coupons.each do |coupon| %>
  <tr>
    <td><%= coupon.alpha_code %></td>
    <td><%= coupon.alpha_mask %></td>
    <td><%= coupon.digit_code %></td>
    <td><%= coupon.digit_mask %></td>
    <td><%= coupon.category_one %></td>
    <td style="text-align:right"><%= coupon.amount_one %></td>
    <td style="text-align:right"><%= coupon.percentage_one %></td>
    <td style="text-align:right"><%= coupon.category_two %></td>
    <td style="text-align:right"><%= coupon.amount_two %></td>
    <td style="text-align:right"><%= coupon.percentage_two %></td>
    <td><%= coupon.expiration %></td>
    <td style="text-align:right"><%= coupon.redemptions_count %></td>
  </tr>
  <% end %>
</table>
<div class='apple_pagination' align="center"><%= will_paginate  @coupons, :container => false %></div>

</div>
