<div style="float:left;width:100%">
<%= render 'shared/side_menu' %>
</div>
  <div class="row">
    <div class="span12" style="min-height:530px;margin-top:20px;background: white;border-radius: 5px;padding: 10px;width:1050px;margin-left:155px;">

<h3 align = "center">Manage Coupons</h3>
<table border="0" cellspacing="5" cellpadding="5" class="table table-condensed table-hover table table-striped">
  <tr> 
    
    <tr class="tab_head">
    <th>Course</th>
    <th>Alpha code</th>   
    <th>Digit code</th>      
    <th style="text-align:right">Amount off</th>
    <th style="text-align:right">Percentage off</th>    
    <th>Expiration</th>     
    <th style="text-align:right">No Of times<br/>Redeemable</th>
    <th>Current<br/> Redeem count</th> 
    <th>Action</th>
  </tr>

  <% @coupons.each do |coupon| %>
  <tr>
    <td><%= Coupon.course_name(coupon.metadata)%></td>
    <td><%= coupon.alpha_code %></td>
     <td><%= coupon.digit_code %></td>   
      
    <td style="text-align:right"><%= coupon.amount_one %></td>
    <td style="text-align:right"><%= coupon.percentage_one %></td>
    <td><%= coupon.expiration %></td> 
    <td><%= coupon.how_many %></td>   
    <td style="text-align:right"><%= coupon.redemptions_count %></td>

    <td><%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_coupon_path(coupon), :class => 'btn btn-mini' %>

              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              coupon_path(coupon),
              :method => :delete,
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-mini btn-danger' %></td>
  </tr>
  <% end %>
</table>


</div>
</div>
<div class='apple_pagination' align="center"><%= will_paginate  @coupons, :container => false %></div>