<div class="inx_wrap" >
    <ul><% @courses.each do |course|%>
            <li>
        <div class="mod_pen">
          <div class="mod_pen_top"></div>
          <div class="mod_pen_center">
            <div class="mod_imag">
            <table><tr><td>  <%=link_to(course) do %>
                      <% if course.is_coming_soon %>
                        <!--   <div class="mod_labal_launching"></div> -->
                          <% else %>
                          <!-- <div class="mod_labal"></div> -->
                          <% end  %>
                    <% if course.data!=nil %>
            <%= image_tag url_for(:controller => 'courses',:action => 'show_image', :id => course.id), width: "150", height: "150",:class=>"img-circle " %>
            <% else %>
            <%= image_tag "test.png", width: "150", height: "150",:class=>"img-circle" %>
            <% end %>     </td><td> <%=link_to(course) do %><h2><%= course.title.split(' ').map(&:capitalize).join(' ') %>   </h2><%end%></td></tr></table> 
              
              
             </div>
            <div class="clr"></div>
            
             
            <p>
              <%= course.desc  %>           </p>
          
            <div class="mod_com">
              <div class="pr_left">Price</div>
              <div class="pr_right">
                <%= price_of_course_according_to_date(course)  %>       </div>
            </div>
            <div class="mod_com">
              <div class="pr_left gree">Duration</div>
              <div class="pr_right gree">
               <%= durationcalculation(course) %> 
              </div>
             </div>
            
   
            </div>
          
        
          <div class="mod_pen_bottom">
            
      <div style="width:100%;float:left;height: 75px;"> 
      <table style="margin-left: 10px;"><tr><td>  <% course.teaching_staffs.each do |author|%>
        <% if author.user.image_blob == nil %>

        <% if author.user.omni_image_url == nil %>
        <%= gravatar_for_with_size author, "65x65" %>
        <% else  %>
        <%= image_tag(author.omni_image_url,size: "65x65", alt: "",:class=>"img-polaroid")%> 
        <% end  %>
        <% else  %>
        <%= image_tag url_for(:controller => 'registrations',:action => 'user_image', :id => author.user.id), :size => "65x65",:class=>"img-polaroid" %>
        <% end  %>

        <% end %></td><td>Author Name<br><p>Author Description</p></td></tr></</table>
        <table cellpadding="2" style="margin-left: 10px;"><tr><td><% if !course.course_previews.empty? %><%= image_tag "video.jpg", :width=>"25",:height=>"25"%><% end %></td>
        <td><% if !course.comments.empty? %><%= image_tag "discussin.png", :width=>"25",:height=>"25"%><% end %></td></tr>

</table></div></div>
                       <%=link_to(course) do %>
            <div class="btn btn-large btn-success" style="float:right;margin-right:10px;">View Details</div>
     <% end %>   
             

        </div> 
      </li><%end%>
      <% end %>

</ul></div>


