
<div class="coursedetailtop">

  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="coursevideo">
          <%= image_tag url_for(:controller=>"courses", :action => 'show_image', :id => @course.id), width: "200", height: "200" %>
        </div>
      </div>
      <div class="span7">
        <div class="coursedesc">
          <div class="coursetitle">
            <h3><%= @course.title %></h3>
          </div>
          <div class="subtitle">
            <h4><%= @course.short_desc %></h4>
          </div>
          <div class="subtitle" style="color:#fcff00">
            <% if @course.is_coming_soon %>
            <h4>Date to be announced</h4>
            <% else %>
            <% start=""
              if @course.start_date != nil 
                start=@course.start_date.to_formatted_s(:long)
              end
              duration=""
              if @course.start_date != nil and @course.end_date != nil 
                x=(@course.end_date - @course.start_date).to_i
                y=x/7
                z=x%7
                duration = pluralize(y,"Week") 
                if(z != 0) 
                  duration = duration + " " + pluralize(z,"Day") 
                end
                duration = duration + " Long"
                #duration=distance_of_time_in_words(@course.start_date,@course.end_date)
              end
              next_session=""
              if @course.start_date != nil and @course.end_date != nil 
                next_session="Next Session: #{start} (#{duration})"
              end
             %>
            <h4><%= next_session %></h4>
            <% end %>
          </div>
          <div class="container clearfix"></div>
          <div class="subsection">

            <% if (current_user.present? ) %>
              <% if !(current_user.has_role? :admin) %>
                <% if @course.is_coming_soon %>
                  <%= link_to "Follow",payments_follow_course_path(:id=>@course.id),  :class=>"enroll" %>
                <% elsif @status=="enroll" %>
                <a href="<%= lms_course_url(@course.lms_id)%>" target="_blank"><div class="enroll">Take this Course Now!
                </div></a>
                <% elsif @status=="completed" %>
                <% else %>
                  <%= link_to "enroll",payments_course_payment_path(:id=>@course.id),  :class=>"enroll" %>
                <% end %> 
              <% end %> 
            <% else %>
              <% if @course.is_coming_soon %>
                <%= link_to "Follow",payments_follow_course_path(:id=>@course.id),  :class=>"enroll" %>
              <% else %>
                <%= link_to "enroll",payments_course_payment_path(:id=>@course.id),  :class=>"enroll" %>
              <% end %> 
            <% end %> 

            <a href="#previewcourse"><div class="shortlist">
              Preview
            </div></a>


          </div>
          <div class="container clearfix"></div>
          <div style="margin-left: 80px;">
           <a>
            <%#= link_to image_tag("#{@course.image}", border: 0, width: "100", height: "100")%> 
            <% unless url_for(:only_path => true, :overwrite_params=> { }) == '/courses?'  %>
            <br align = "center">
            <% end %>
            <%= rating_for @course, "rate" %><div id="rating" ><%= @qty%> Ratings</div>
            <% unless url_for(:only_path => true, :overwrite_params=> { }) == '/courses?'  %>
            <div class = "rated" %>
              <% if @rated == nil  %>
              Rate This Course
              <% else  %>
              Course Rated
              <% end %>
            </div>
            <% end %>
          </a>
        </div>
      </div>
      <div class="container clearfix"></div>
    </div>
  </div>
  <div class="container clearfix">

  </div>
</div>

<div class="container clearfix">
</div>
</div>