<div class="inx_wrap" >
    <ul><% @courses.each do |course|%>
            <li>
        <div class="mod_pen">
          <div class="mod_pen_top"></div>
          <div class="mod_pen_center">
            <div class="mod_imag">
            <table><tr><td>  <%=link_to(course) do %>
                      <% if course.is_coming_soon %>
                        <!--   <div class="mod_labal_launching"></div> -->
                          <% else %>
                          <!-- <div class="mod_labal"></div> -->
                          <% end  %>
                    <% if course.data!=nil %>
            <%= image_tag url_for(:controller => 'courses',:action => 'show_image', :id => course.id), width: "150", height: "150",:class=>"img-circle " %>
            <% else %>
            <%= image_tag "test.png", width: "150", height: "150",:class=>"img-circle" %>
            <% end %>     </td><td> <%=link_to(course) do %><h2><%= course.title.split(' ').map(&:capitalize).join(' ') %>   </h2><%end%></td></tr></table> 
              
              
             </div>
            <div class="clr"></div>
            
             
            <p>
              <%= course.short_desc  %>           </p>
            <div class="mod_com">
              <div class="pr_left">Price</div>
              <div class="pr_right">
                <%= price_of_course_according_to_date(course)  %>       </div>
            </div>
            <div class="mod_com">
              <div class="pr_left gree">Duration</div>
              <div class="pr_right gree">
               <%= durationcalculation(course) %> 
              </div>
            </div>
          </div>
         <% course.teaching_staffs.each do |author|%>
        <% if author.user.image_blob == nil %>
        <% if author.user.omni_image_url == nil %>
        <%= gravatar_for_with_size author, "30x30" %>
        <% else  %>
        <%= image_tag(author.omni_image_url,size: "30x30", alt: "")%> 
        <% end  %>
        <% else  %>
        <%= image_tag url_for(:controller => 'registrations',:action => 'user_image', :id => author.user.id), :size => "30x30" %>
        <% end  %>
        <%= author.name %></a></h6>
        <%= author.description %>
        <% end %>
          <div class="mod_pen_bottom">
            <%=link_to(course) do %>
            <div class="btn btn-large btn-success" style="float:right;margin:10px;">View Details</div>
     <% end %>
      
                        
             </div>
        </div> 
      </li><%end%>
      <% end %>

</ul></div>


