
<table cellpadding="5" style="margin-top:50px;">
      <% @courses.each do |course|%>
<tr><td> <!-- <img src="assets/images/sqlessentials.png" class="img-polaroid" style="width:50px;height:50px;"> -->

	<%=link_to(course) do %>
<% if course.data!=nil %>
            <%= image_tag url_for(:controller => 'courses',:action => 'show_image', :id => course.id), width: "50", height: "50",:class=>"img-polaroid" %>
            <% else %>
            <%= image_tag "test.png", width: "50", height: "50",:class=>"img-polaroid" %><% end %>
            <% end %> </td>
<td style="font-size: 18px;"><%=link_to(course) do %><%= course.title.split(' ').map(&:capitalize).join(' ') %><%end%><br><p style="font-size: 15px;"><%= course.short_desc  %></p></td></tr>
<% end %>
 

<tr><td> </td>
<td><a href="/courses">More Courses</a></td></tr>
</table>
           
      
      
  