   <script type="text/javascript">

   $(function(){
    // this will get the full URL at the address bar
    var url = window.location.href; 

    // passes on every "a" tag 
    $("#side_menu a").each(function() {
            // checks if its the same on the address bar
            if(url == (this.href)) { 
            	$(this).closest("a").addClass("active");
            }
          });
  });
   </script>

   <div>
   	<ul id="side_menu">
   		<li><%= link_to "Users", users_path %></li>   		 		
   		<li><%= link_to "New Course Library", new_course_path %></li>
   		<li><%= link_to "Manage Course Library", manage_courses_path %></li>
   		<li><%= link_to "New Category",new_topic_path %> </li>
   		<li><%= link_to "Manage Category", topics_path %></li>  		
   		<li><%= link_to "New Preview",new_course_preview_path %></li>
   		<li><%= link_to "Manage Preview",course_previews_path %></li>
      <li><%= link_to "New Coupon", new_coupon_path %></li>
   		<li><%= link_to "Manage Coupon", coupons_path %></li>
      <li><%= link_to "New Course Price",new_course_pricing_path %></li>   		
   	  <li><%= link_to "Manage Course Price",course_pricings_path %></li>
   		<li><%= link_to "Create Tax", new_tax_rate_path %></li>
      <li><%= link_to "Manage Taxes",tax_rates_path %></li>

      <li><%= link_to "New Teacher", new_teaching_staff_path %></li>
      <li><%= link_to "Manage Teaching Staff",teaching_staffs_path %></li>   
      <li><%= link_to "Course Status Search",course_status_search_path %></li>  
      <li><%= link_to "Conclude Course", conclude_course_path %></li>
      <li><%= link_to "Certified Program Users", show_details_path %></li>

      <% if account= Account.first %>
        <li><%= link_to "Zopium Enable", edit_account_path(account) %></li>
      <% end %>
   	</ul>   	
   </div>


