<h3 align = "center">Privacy Policies</h3>
<table align="center">
	<% @privacypolicy.each do |policies| %>
    <tr>
		 <td>
			 <%= policies.title%>
		 </td>
	  </tr>
	  <tr>
		 <td>
			<%= policies.desc.html_safe %>
		 </td>
		</tr>
		<tr>
			<td><%= link_to "show",privacypolicy_path(policies) %></td>
		</tr>
		<tr>
			<td><%= link_to "edit",edit_privacypolicy_path(policies) %></td> 
		</tr>
		<tr>
			<td><%= link_to "destroy",policies, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
  <%end%>
</table>