<html>
<head>
<script language="javascript" type="text/javascript">
tinyMCE.init({
        theme : "advanced",
        mode : "textareas"
});
</script>
<h3 align = "center">Privacy Policies</h3>
<table align="center">
<%= tinymce_assets %>
<%= form_for @privacypolicy do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <tr>
    <td><%= f.label 'Title' %></td>
    <td><%= f.text_field :title %></td>
  </tr>
  <tr>
	<td><%=f.label 'Description'%></td>
	<td><%=f.text_area :desc,:class => "tinymce"%></td>
</tr>
<tr>
   <td><%= f.submit "Save" %> </td>
</tr>
<%= tinymce %>
<% end %>
</table>
</html>
