<br>
<div class='container'>
	<div class="span6">
		<div class="contactform"> 
			<br/>
			<%= form_for @contact do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<table>
				<tr>
					<td><%= f.label :name, "Name" %></td>
					<td><%= f.text_field :name %></td>
				</tr>	
				<tr>
					<td><%= f.label :email, "Email" %></td>
					<td><%= f.text_field :email %></td>
				</tr>	
				<tr>
					<td><%= f.label :message, "Message" %></td>
					<td><%= f.text_area :message ,:cols => "30", :rows => "5" %></td>
				</tr>	
				<tr >
					<td></td><td align = "center"><%= f.submit "Send", class: "btn btn-large btn-primary" %></td>
				</tr>
				</table>	
				<% end %>

			</div>
		</div>

		<div class="span5" style="padding: 40px;font-size: 15px;">
			<ul class="link-list site-nav right">
				<li>
			E-mail ID: info@beaconlearning.in
</li>
<li>
Contact Number: 0124 - 4934024 
</li>
<li>
Address: 815,Udyog Vihar, Phase V, Gurgaon – 122015</li>
</ul>
		</div>
</div>