<div class="row">
  <div class="container">
    <div class="span12" style="margin-left:100px;">
    <div style="-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,0.25);
box-shadow: 0 1px 2px 1px rgba(0,0,0,0.25);
background-color: #fff;
-webkit-border-radius: 1px;
border-radius: 1px;
padding: 30px 30px 48px 30px;
margin-left: -3.1914895%;
width: 106.382979%;
height: 100%;margin-bottom:20px;float:left;">
	<div class="span5">
		<div class="contactform"> 
			<br/>
			<%= form_for @contact do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<table>
				<tr>
					<td><%= f.label :name, "Name" %></td>
					<td><%= f.text_field :name %></td>
				</tr>	
				<tr>
					<td><%= f.label :email, "Email" %></td>
					<td><%= f.text_field :email %></td>
				</tr>	
				<tr>
					<td><%= f.label :message, "Message" %></td>
					<td><%= f.text_area :message ,:cols => "30", :rows => "5" %></td>
				</tr>	
				<tr >
					<td></td><td align = "center"><%= f.submit "Send", class: "btn btn-large btn-primary" %></td>
				</tr>
				</table>	
				<% end %>

			</div>
		</div>

		<div class="span5" style="padding: 40px;font-size: 15px;">
			<ul class="link-list site-nav right">
				<li style="padding: 10px 0px;">
			E-mail ID: info@beaconlearning.in
</li>
<li style="padding: 10px 0px;">
Contact Number: 0124 - 4934024 
</li>
<li style="padding: 10px 0px;">
Address: 815,Udyog Vihar, Phase V, Gurgaon – 122015</li>
</ul>
		</div>
</div>
</div></div></div>