<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">City</Data></Cell>
        <Cell><Data ss:Type="String">Age</Data></Cell>
         <Cell><Data ss:Type="String">Mobile</Data></Cell>
         <Cell><Data ss:Type="String">Course Name</Data></Cell>
      </Row>
<% CertifiedProgramUser.find(:all).each do |user|%>
      <Row>
        
        <Cell><Data ss:Type="String"><%= user.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.city %></Data></Cell>
        <Cell><Data ss:Type="integer"><%= user.age %></Data></Cell>
        <Cell><Data ss:Type="integer"><%= user.mobile %></Data></Cell>
         <Cell><Data ss:Type="string"><%= user.course %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>