
<div style="float:left;width:100%">
	<%= render 'shared/side_menu' %>
</div>
<div class="row">
<div style="margin-top:20px;background: white;border-radius: 5px;padding: 10px;width:1050px;margin-left:155px;">
	<div style="text-align: center;width: 200px;height: 45px;float: left;
line-height: 40px;margin-left: -36px;background-image: url('../../assets/ribbonr.jpg');background-size: 200px 100%; color:white;font-weight:bold;">
Edit Course Price </div>
		<div class = "hero-unit" margin-top:"50px">
		
			<%= simple_form_for (@coursepricing) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<table class="tableform"><tr><th>Course Name</th><td>
				<%= f.select(:course_id, @course.collect {|p| [ p.title,p.id ] })%></td></tr>
				
				<tr><th>Start Date</th><td>
					<div >

						<%= f.input_field :start_date, :start_year => Date.today.year, :end_year => Date.today.year + 30, class:"date" %></td></tr>
					</td></tr></div>
					<tr><th>End Date</th><td>
						<%= f.input_field :end_date, :start_year => Date.today.year, :end_year => Date.today.year + 30, class:"date" %></td></tr>
						<tr><th>Price</th><td>
							<%= f.text_field :price %></td></tr>
							<tr><th></th><td><%= f.submit "Update" ,class: "btn btn-primary" %></td></tr></table>


							<% end %>



						</div>		</div>
					</div></div>