
<div style="float:left">
<%= render 'shared/side_menu' %>
</div>
<div class="row">
	<div class="span8 offset3" style="min-height:500px;">
		<div class = "hero-unit" style="border:1px solid #0088cc;border-radius:5px;">
		<h3 align = "center">Course Price</h3>
<%= simple_form_for (@coursepricing) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
	<table class="table table-hover ">
		<tr><td>Course Name</td><td><% courses_array = Course.all.map { |course| [course.title, course.id] } %>
							<%= f.select(:course_id,options_for_select(courses_array))%></td></tr>
							<tr><td>Start Date</td><td>
							
						<%= f.input_field :start_date, :start_year => Date.today.year, :end_year => Date.today.year + 30, :order => [ :day, :month, :year], class:"date", :required => true %>
</td></tr>
							<tr><td>End Date</td><td>
								<%= f.input_field :end_date, :start_year => Date.today.year, :end_year => Date.today.year + 30, :order => [ :day, :month, :year], class:"date" %></td></tr>
							<tr><td>Price</td><td>
							<%= f.text_field :price %></td></tr>
							<tr><th></th><td><%= f.submit "Save" ,class: "btn btn-primary" %></td></tr></table>


<% end %>


</div>

</div></div>