
<div>	
	<div style="float:left">
		<%= render 'shared/side_menu' %>
	</div>

	<div class="row">
	
				<div class="span12" style="min-height:550px;margin-top:20px;background: white;border-radius: 5px;padding: 10px;width:1050px;margin-left:155px;">
					<div style="text-align: center;width: 200px;height: 45px;float: left;
line-height: 40px;margin-left: -36px;background-image: url('../../assets/ribbonr.jpg');background-size: 200px 100%; color:white;font-weight:bold;">
Edit Tax Rate
  </div>
			<div  style="">
				<div class="divcontainer">

					<%= simple_form_for(@tax_rate) do |f| %>
					<div class="divrow">
						<div><h3 align="center">Tax Edit</h3></div>
						<div class="divleft">
							Description
						</div>
						<div class="divright">
							<%=f.text_field :description %>
						</div>
					</div>
					<div class="divrow">
					<div class="divleft">
							Factor
						</div>
						<div class="divright">
							<%=f.text_field :factor %>
						</div>
					</div>
					<div class="divrow">
						<div class="divleft">
							Valid From
						</div>
						<div class="divright">
							<%= f.input_field :valid_from, :start_year => Date.today.year, :end_year => Date.today.year + 30, class:"date", :order=>[:day,:month,:year] %>

						</div>
					</div>

					<div class="divrow">

						<div class="divleft">
							Valid Untill
						</div>
						<div class="divright">

							<%= f.input_field :valid_until, :start_year => Date.today.year, :end_year => Date.today.year + 30, class:"date", :order=>[:day,:month,:year] %>
						</div>

					</div>

					<div class="divrow">
						<div class="divleft">
							Is Default?
						</div>
						<div class="divright">
							<%= f.check_box :is_default %>

						</div>
					</div>

					<div class="divrow">
						<div class="divleft">
							&nbsp;
						</div>
						<div class="divright">
							<%= f.submit "Update",class:"btn btn-primary"  %>
						</div>
					</div>
					<br>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>