
<div>	
	<div style="float:left;width:100%">
		<%= render 'shared/side_menu' %>
	</div>

	<div class="row">
		<div class="admin">
			<div style="text-align: center;width: 200px;height: 45px;float: left;
line-height: 40px;margin-left: -36px;background-image: url('../assets/ribbonr.jpg');background-size: 200px 100%; color:white;font-weight:bold;">
Create Tax Rates
  </div>
			<div  style="">
				<div class="divcontainer">
					

					<%= simple_form_for(@tax_rate) do |f| %>
					<%= render 'shared/error_messages', object: f.object %>
					<div class="hero-unit">

					<div class="divrow">
				
						<div class="divleft">
							Description
						</div>
						<div class="divright">
							<%=f.text_field :description %>
						</div>
					</div>
					<div class="divrow">
					<div class="divleft">
							Factor
						</div>
						<div class="divright">
							<%=f.text_field :factor %>
						</div>
					</div>
					<div class="divrow">
						<div class="divleft">
							Valid From
						</div>
						<div class="divright">
							<%= f.input_field :valid_from, :start_year => Date.today.year, :end_year => Date.today.year + 30, class:"date", :order=>[:day,:month,:year] %>

						</div>
					</div>

					<div class="divrow">

						<div class="divleft">
							Valid Untill
						</div>
						<div class="divright">

							<%= f.input_field :valid_until, :start_year => Date.today.year, :end_year => Date.today.year + 30, class:"date", :order=>[:day,:month,:year] %>
						</div>

					</div>

					<div class="divrow">
						<div class="divleft">
							Is Default?
						</div>
						<div class="divright">
							<%= f.check_box :is_default %>

						</div>
					</div>

					<div class="divrow">
						<div class="divleft">
							&nbsp;
						</div>
						<div class="divright">
							<%= f.submit "Save",class:"btn btn-primary" %>
						</div>
					</div>
					<br>
					<% end %>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>