<br />
<div class="container">
<table cellpadding="5" style="width:1000px;">
  <tr style="border:15px solid #2a488e;">
  </tr>
  <tr style="background:aliceblue;padding: 5px 0px;;font-size: 15px;text-align:center;">
    <td style="font-size: 15px;font-weight:bold;text-align: left;"> Course Description</td>
    <td>
        <div class='span4' style="font-size: 15px; font-family: Arial;  text-align: justify;">
          <p><%= @course.short_desc%></p>
        </div>   
  </td>
  </tr>
  <tr style="background:aliceblue;padding: 5px 0px;;font-size: 15px;text-align:center;">
  <td style="font-size: 15px;font-weight:bold;text-align: left;">Price</td>
  <td style="text-align: left;"><div class="span4">Rs. <%= @price %> </div></td>
  </tr>

  <tr style="background:aliceblue;padding: 5px 0px;;font-size: 15px;text-align:center;">
  <td style="font-size: 15px;font-weight:bold;text-align: left;">Discount</td>
  <td style="text-align: left;"><div class="span4">Rs. <%= @discount %> </div></td>
  </tr>

  <tr style="background:aliceblue;padding: 5px 0px;;font-size: 15px;text-align:center;">
  <td style="font-size: 15px;font-weight:bold;text-align: left;">Subtotal</td>
  <td style="text-align: left;"><div class="span4">Rs. <%= @subtotal %> </div></td>
  </tr>

  <tr style="background:aliceblue;padding: 5px 0px;;font-size: 15px;text-align:center;">
  <td style="font-size: 15px;font-weight:bold;text-align: left;">Tax</td>
  <td style="text-align: left;"><div class="span4">Rs. <%= @tax%> </div></td>
  </tr>
  <tr style="background:aliceblue;padding: 5px 0px;;font-size: 15px;text-align:center;">
  <td style="font-size: 15px;font-weight:bold;text-align: left;">Total</td>
  <td style="text-align: left;"><div class="span4">Rs.  <%=  @tax.to_f + @subtotal.to_f  %> </div></td>
  </tr>

  <tr style="background:white;padding: 5px 0px;;font-size: 15px;text-align:center;">
  <td style="font-size: 15px;font-weight:bold;text-align: left;"></td>
  <td style="text-align: right;"> You can download your invoice <%= link_to "here", invoice_pdf_path(:id=>@course) %></td>
  </tr>
 <div class="span12" style="background:#F2F2F2; height: 24px;line-height: 22px; margin-top: 47px;text-align: center; width:1000px;font-family: arial;font-size: 19px;margin-left:0px;">
Your payment is confirmed and Amount Paid is Rs. <%=  @tax.to_f + @subtotal.to_f  %>

</div>

<div class="button-place-holder" style="float:right; margin-right: 138px;">
    
 </div>
</table>
  




</div>