

  
<br />

<br />
<%= form_tag(payments_confirm_course_payment_path(:id=>@course)) do %>
<div class="container">
  <div>
<div class="span12" style="background:#F2F2F2; height: 24px;line-height: 22px; margin-top: 47px; font-family: arial;font-size: 19px;">
  <div style="text-align: left;">
 This page will come from Payment gateway
  </div>
  <div style="text-align: right;">
Amount Payable: Rs. <%=  @course.course_pricings.first.price  %>
  </div>
<br /><br />
</div><br /><br /><br /><br />

</div>

 <br /><br />
 <div class="span12" style="background:#F0F5F6;border:1px solid;">

    <div class="span4">
        <div class='span4' style="font-size: 15px; font-family: Arial;  text-align: justify;">
           <p><b>Course title </b>
            <br/>
           <%= @course.title %></p>
           <p><b>Course description </b>
            <br />
           <%= @course.desc%></p>
        </div>   
         
    </div>
    <div class="span4" style="padding-left: 30px;padding-top:20px;">
    <%= label_tag "first_name"%>
    <%= text_field_tag "first_name"%><br/>
      <%= label_tag "last_name"%>
    <%= text_field_tag "last_name"%><br/>
    <%= label_tag "debit_card_no"%>
    <%= text_field_tag "debit_card_no"%><br/>
  </div>
  <%= hidden_field_tag "price",@course.course_pricings.first.price %>
 <div class="button-place-holder" style="margin-top: 10px; margin-right: 407px;">

               <%= submit_tag 'submit',:class=>'placeholder' %>
      </div>
    </div>
</div>  
<br /><br /> <br /><br />



</div>
<% end %>
