
<br />
<br />
<%= form_tag(payments_confirm_course_payment_path(:id=>@course)) do %>
<div class="container">
  <div>
<div class="span12" style="background:#F2F2F2; height: 24px;line-height: 22px; margin-top: 47px; font-family: arial;font-size: 19px;">
  <div style="text-align: left;">
 This page will come from Payment gateway
  </div>
  <div style="text-align: right;">
Amount Payable: Rs. <%=  @grand_total  %>
  </div>
<br /><br />
</div><br /><br /><br /><br />

</div>

 <br /><br />
 <div class="span12" style="background:#F0F5F6;border:1px solid;">

    <div class="span4">
        <div class='span4' style="font-size: 15px; font-family: Arial;  text-align: justify;">
           <p><b>Course title </b>
            <br/>
           <%= @course.title %></p>
           <p><b>Course description </b>
            <br />
           <%= @course.desc%></p>
        </div>   
         
    </div>
    <div class="span4" style="padding-left: 30px;padding-top:20px;">
    <%= label_tag "first_name"%>
    <%= text_field_tag "first_name"%><br/>
    <%= label_tag "last_name"%>
    <%= text_field_tag "last_name"%><br/>
    <%= label_tag "card_no"%>
    <%= text_field_tag "card_no"%><br/>
    <%= label_tag "name_on_the_card"%>
    <%= text_field_tag "name_on_the_card"%><br/>
    <%= label_tag "expiry_date"%>
    <%= date_select "expiry_date","date",:start_year => 2012, :end_year => 2020,:discard_day => true,:order => [:month,:year], :use_short_month =>true %>
    <%= label_tag "cvv"%>
    <%= text_field_tag "cvv"%><br/>
  </div>
 <div class="button-place-holder" style="margin-top: 10px; margin-right: 407px;">
  <%= hidden_field_tag "course_price",@price %>
  <%= hidden_field_tag 'tax_rate',Settings.cas.tax_rate%>
  <%= hidden_field_tag 'tax_description',Settings.cas.tax_description %>
  <%= hidden_field_tag 'coupon_des',@coupon_des %> 
  <%= hidden_field_tag 'coupon_rate',@coupon_rate %>   
  <%= hidden_field_tag 'coupon_price', @coupon_price %>
  <%= hidden_field_tag 'coupon_code', @coupon_code %>

  <%= submit_tag 'submit',:class=>'placeholder' %>
      </div>
    </div>
</div>  
<br /><br /> <br /><br />



</div>
<% end %>
