
<br />
<div class="container">
<table cellpadding="20" style="width:1000px;">
<tr style="background:#2a488e;padding: 5px 0px;color: white;font-size: 20px;text-align:center;line-height: 0px;">
<td> Item Description</td>
<td>Price</td>
<td>Tax</td>
<td>Total</td> 
</tr>
<tr style="background:aliceblue;padding: 5px 0px;;font-size: 15px;text-align:center;">
<td ><div class="span2" > 
      <%= image_tag url_for(:action => 'show_image', :id => @course.id), width: "150", height: "120" %>
    </div>

    <div class="span4">
        <div class='span4' style="font-size: 15px; font-family: Arial;  text-align: justify;">
           <p>
           <%= @course.title %></p>
           <p>
           <%= @course.desc%></p>
        </div>   </td>
<td valign="top"> Rs. <%= @price %></td>
<td valign="top">Rs. <%= @tax%></td>
<td valign="top">Rs.  <%=  @tax+@price  %></td> 
</tr>
</table>

 

<div style="float:right; margin-right: 105px;margin-top:10px;width:100%;" >
    <div style="float:right; " ><%= text_field_tag "coupon_code" %></div>
<div style="float:right;padding:5px;font-size:16px;" ><%= label_tag "enter the coupon code" %></div>




  </div>  
  <div  style="float:right;margin-top:10px;margin-right:85px;">
    <% if gateway_enable? %>
      <% payment_service_for 2, "dddd",
          :amount => "300",
          :currency => 'INR',
          :service => :ccavenue do |service| %>    
        <%  service.customer :name => "hitesh",
                   :email => "test@test.com",
                   :phone =>  "9893171496" %>    
        <%  service.redirect :return_url =>(payments_confirm_course_payment_url(:id=>@course)) %>
        <%= submit_tag 'Proceed to payment',:class=>'enroll'  %>
      <% end %>
    <% else %>
      <%= form_tag(payments_course_payment_gateway_path(:id=>@course)) do %>
        <%= submit_tag 'Proceed',:class=>'enroll' %>
      <% end %>
     <% end %>

</div>


</div>
