<% if !@comments.blank?%>
        <% @comments.each do |comment| %>
      <div class="row" style="float:left;margin:0px auto;">
        <div class="span6" style="margin-bottom:10px;float:left;">
          <div class="reviewer">

        <% if comment.user.image_blob == nil %>
                <% if comment.user.omni_image_url == nil %>
                <%= gravatar_for_with_size comment.user, "75x75" %>
                <% else  %>
                <%= image_tag(comment.user.omni_image_url,size: "75x75", alt: "")%> 
                <% end  %>
                <% else  %>
                  <%= image_tag url_for(:controller => 'registrations',:action => 'user_image', :id => comment.user.id), :size => "75x75" %>
                <% end  %>
          </div>
          <div class="bubble-content">
            <div class="point"></div>
              <h4><%= comment.user.name  %> </h4>             
              <%= comment.comment  %>
          </div>
          <div class="container clearfix"></div>
        </div>
      </div>
       <%end%> 

  <%end%>