<div style="float:left">
	<%= render 'shared/side_menu' %>
</div>

<div class="row">
	<div class="span8 offset3" style="min-height:600px">
		
		<div class = "hero-unit" style="border:1px solid #0088cc;border-radius:5px;margin:20px;padding:10px;">

			<%= form_tag "/concluded_course_update", :method=>'put' do %>
			<div class="divrow">
				<div>
					<h3 align="center">Courses Conclude</h3>
				</div>
				<div class="divleft">
					<label>Course Name</label>
				</div>
				<div class="divright">

					<%= select_tag :search, options_from_collection_for_select(Course.where("isconcluded!=?","t"), "id", "title") , {:prompt => 'ALL'} %>
				</div>
			</div>
			<div class="divrow">
				<div class="divleft">
					<label>Concluded</label>

				</div>
				
				<div class="divright">
					<%= check_box_tag :isconcluded %>
				</div>
			</div>

			<div class="divrow">
				<div class="divleft">
					<label>Concluded Review </label>
				</div>
				<div class="divright">
					<%= text_area_tag :concluded_review %>
				</div>
<%= hidden_field_tag :id %>
			</div>
			<div class="divrow">
				<div class="divleft">
					&nbsp;
				</div>
				<div class="divright">
					<%= submit_tag "Save",class:"btn btn-primary",completed_courses_path(:id=>:id %>
				</div>
			</div>

			<br>

			<% end %>
		</div>
	</div>

</div>