 <div style="float:left">
 	<%= render 'shared/side_menu' %>
 </div>
 <div class="row">
 	<div class="span12 offset3" style="min-height:500px;">
 		<div  align="center" style="margin:30px 0px 0px 0px">

 			<h3>Concluded Courses Status</h3>
 			<hr>
 			<%= form_tag "/concluded_courses", :method=> 'get' do %>
 		</div>
 		<table class="table table-condensed table-hover table table-striped">
 			<tr class="tab_head">
 				<th style="background:#2A488E;color:white;">
 					Course Title
 				</th>
 				<th style="background:#2A488E;color:white;">
 					Is Concluded
 				</th>
 				<th style="background:#2A488E;color:white;">
 					Concluded Review
 				</th>
 				<th style="background:#2A488E;color:white;">
 					Action
 				</th>
 			</tr>

 			<% @all_concluded_courses.each do |concluded_course| %>
 			<tr>
 				<td>
 					<%= concluded_course.title %>
 				</td>
 				<td>
 					<%= concluded_course.isconcluded %>
 				</td>
 				<td>
 					<%= concluded_course.concluded_review %>
 					</td
 					<td>
 						<tr><td></td><td><%= hidden_field_tag :id, concluded_course.id %></tr>

 						<%= link_to 'edit',edit_concluded_course_path(concluded_course.id),:class => 'btn btn-mini' %>

 						<%= link_to t('.edit', :default => t("helpers.links.edit")),
 						edit_concluded_course_path(:id=>concluded_course.id), :class => 'btn btn-mini' %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
      			edit_concluded_course_path(:id=>concluded_course.id), :class => 'btn btn-mini' %>
 					</td>
 				</tr>
 			</table>
 			<% end %>
 			<% end %>
 		</div>
 	</div>

