<%# payment_service_for 1, "dddd",
    :amount => "300",
    :currency => 'INR',
    :service => :ccavenue do |service| %>    
  <%#  service.customer :name => "hitesh",
             :email => "test@test.com",
             :phone =>  "9893171496" %>    
  <%#  service.redirect :return_url => confirm_course_payment_course_url(Course.first) %>
<br />
<%= form_tag(course_payment_gateway_courses_path(:id=>@course)) do %>
<div class="container">
  <div>
 <div class="span4" style="font-size: 20px;padding-left: 214px;">
    Item Description
 </div>
 
 <div class="span2" style="font-size: 20px;">
    Price
 </div>
 <div class="span2" style="font-size: 20px;">
   SubTotal
 </div>
 <div class="span2" style="font-size: 20px;">
   Tax
 </div>
</div>
 <br /><br />
 <div class="span12" style="background:#F0F5F6;border:1px solid;">

    <div class="span2">
      <%= image_tag url_for(:action => 'show_image', :id => @course.id), width: "150", height: "120" %>
    </div>

    <div class="span4">
        <div class='span4' style="font-size: 15px; font-family: Arial;  text-align: justify;">
           <p>Course title 
            <br/>
           <%= @course.title %></p>
           <p>Course description 
            <br />
           <%= @course.desc%></p>
        </div>   
         
    </div>
    <div class="span2">

      Rs. <%= @price %>
    </div>
     <div class="span2" style=" padding-left: 33px;">
      Rs. <%= @price%>
    </div>
    <div class="span2" style="margin-top: -15px; padding-left: 294px;">
      Rs.  <%=  @tax  %>
    </div>

</div>  
<br /><br /> <br /><br />
<div style="float:right; margin-right: 145px;" >
<%= label_tag "enter the coupon code" %>
<%= text_field_tag "coupon_code" %>
  </div>  

<div class="button-place-holder" style="margin-top: 311px; margin-right: 138px;">

    <%= submit_tag 'Proceed',:class=>'placeholder' %>
   
</div>
</div>
<% end %>