 <div  align="center" style="margin:30px 0px 0px 0px">
  <%= form_tag "/course_status_search", :method => 'get' do %>
                <%= select_tag :search, options_from_collection_for_select(Course.all, "id", "title") , {:prompt => 'ALL'} %>
              
              <%= select_tag(:searchstatus, options_for_select(['all','enroll','completed','shortlisted'])) %>

              <%= submit_tag "Search", :name => nil,class:"btn btn-large btn-primary"  %><% end %>
              <hr>
            </div>
            <% @coursesstauts.each do |course| %>
            <table align="center" width="800px"><tr><td width="200px"><%= course.course.title %><td>
            <td width="200px"><%= course.student.user.name %></td>
            <td><%= course.status %></td>
           <td> <td> <%= link_to t('.edit', :default => t("helpers.links.edit")),
      			completed_courses_path(:id=>course.id), :class => 'btn btn-mini' %></td></tr></table>
            <% end %>