<% provide(:title, 'A Smarter Way to Learn') %>
<% provide(:effectingHeader) %>
 <div class="pagehead separation">
    <div class="container">
      <!-- <form action="#" class="category-search" data-pjax="">
        <span class="mini-icon mini-icon-search-input"><i class="icon-search"></i></span>
         <input class="category-search-input" type="text" name="q" id="category-search" value="" tabindex="2"> 
      </form> -->

      <h1>Welcome to Course Library</h1>
    </div>
  </div>
  <!-- Sub Head for Course Lib -->

  <!-- Section Courses List -->
  <div class="container categorygap">
    <!-- List Right Categories -->
    <div class="row">
      <div class="span12 courselibsectioninfo">
        <div class="courselibsectioninfo">
        <div class="coursecount pull-left">

          <span class="badge badge-info">Found <%= @total_course_count %> Courses</span>

        </div>
       <ul class="nav pull-right" style="margin-left:5px;">
           <li id="fat-menu" class="dropdown" >
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:black;">Sort By&nbsp;&nbsp;<b class="caret" style="margin-top:4px;"></b></a>
            
               <!--  <div style="top:-20px; float:left; margin-left:3px; margin-top:0px; margin-right: 3px;">
                <img alt="Ankit Gupta" class="gravatar" src="https://secure.gravatar.com/avatar/b94eaadd611b184036707b3bd3d7e303" height="20" width="20">
                </div> -->
            
            <ul class="dropdown-menu">
              
             <li><%= link_to "Date", datewise_courses_path %></li>
                    <li><%= link_to "Upcoming" + " ( #{Course.where(ispublished: 0).all.size} )", upcomming_courses_path %></li>
                    <li><%= link_to "Popularity", popular_courses_path %></li>
                    <li><%= link_to "Subscribed", subscribed_courses_path %></li> 
                   <li><%= link_to "Default", courses_path %></li>
             
            </ul>
          </li>

            <!-- <li>
                <a href="#">Sort By&nbsp;&nbsp;<i style="width:12px;margin-top:4px;float:right;height:15px;background-image:url('assets/arrow_white.png');background-position:-312px -96px;"></i></a>
                <ul>
                    <li><%= link_to "Date", datewise_courses_path %></li>
                    <li><%= link_to "Upcoming" + " ( #{Course.where(ispublished: 0).all.size} )", upcomming_courses_path %></li>
                    <li><%= link_to "Popularity", popular_courses_path %></li>
                    <li><%= link_to "Subscribed", subscribed_courses_path %></li> 
                   <li><%= link_to "Default", courses_path %></li>
                </ul>
            </li> -->
        </ul>

        <ul class="nav pull-right">
           <li id="fat-menu" class="dropdown" style="color:black;">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:black;">Categories&nbsp;<b class="caret" style="margin-top:4px;"></b></a>
                <ul class="dropdown-menu">

                    <li><%= link_to "All" + " ( #{Course.where(ispublished: 1).all.size} )", courses_path %></li>


                    <% @topics.each do |topic| %>   
                       <% @topicStructure = topic.name + " ( #{ topic.courses.where(ispublished: 1).size} )" %>

                          <li><%= link_to @topicStructure, topic %></li>
                    <%end%>    
                </ul>
            </li>
        </ul>
        <div class="clearfix"></div>
        <!-- <div class="btn-group pull-right moveup">
                <button class="btn dropdown-toggle btn-info" data-toggle="dropdown">Sort By&nbsp;&nbsp;<span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Date</a></li>
                  <li><a href="#">Upcoming</a></li>
                  <li><a href="#">Popularity</a></li>
                  <li><a href="#">Sunbscribed</a></li>
                  <li><a href="#">Default</a></li>
                </ul>
        </div> -->
        <!-- <div class="btn-group pull-right rightgap moveup">
                <button class="btn dropdown-toggle btn-info" data-toggle="dropdown">Categories&nbsp;&nbsp;<span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">All</a></li>
                  <li><a href="#">Accounting</a></li>
                  <li><a href="#">Behavior</a></li>
                  <li><a href="#">Strategy</a></li>
                  <li><a href="#">Sunbscribed</a></li>
                  <li><a href="#">Enterpreneurship</a></li>
                  <li><a href="#">Team Building</a></li>
                  <li><a href="#">Investment</a></li>
                </ul>
        </div> -->
        
        </div>
        <div class="clearfix"></div>


        <div class="clearfix"></div>
        
        <%= render 'shared/courselist' %>

      </div>
    </div>
  </div>

    <div class='apple_pagination' align="center">
    
     <%= will_paginate @courses, :container => false %>
   </div>




