 <br>
<% provide(:title, 'A Smarter Way to Learn') %>
<% provide(:effectingHeader) %>
 <div class="pagehead separation">
    <div class="container">
     <!-- <form action="#" class="category-search" data-pjax="">
        <span class="mini-icon mini-icon-search-input"><i class="icon-search"></i></span>
        <input class="category-search-input" type="text" name="q" id="category-search" value="" tabindex="2" /> 
      </form> -->     
     <h1 style=" text-shadow: 1px 1px #28468d, -1px -1px white;font-weight:bold;">Welcome to Course Library</h1>
    </div>
  </div> 
  <!-- Sub Head for Course Lib -->

  <!-- Section Courses List -->
 <div class="container categorygap"> 
    <!-- List Right Categories -->
  <div class="row">
      <div class="span12 courselibsectioninfo">
        <div class="courselibsectioninfo">
        <div class="coursecount pull-left">


          <span class="badge badge-info">Found <%= Course.where(:ispublished=>true).size %> Courses</span>

        </div>
        <ul class="nav pull-right" style="margin-left:20px;">
           <li id="fat-menu" class="dropdown" >
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style=" font-size: 1.2em;
      position: relative;color:black; ">Sort By&nbsp;&nbsp;<b class="caret" style="margin-top:1px;border-left: 7px solid transparent;border-right: 7px solid transparent;border-top: 7px solid #34495E;"></b></a>
            
             
            
            <ul class="dropdown-menu">
              
             <li><%= link_to "Date", datewise_courses_path %></li>
                    <li><%= link_to "Upcoming" + " ( #{Course.where(ispublished: 0).all.size} )", upcomming_courses_path %></li>
                    <li><%= link_to "Popularity", popular_courses_path %></li>
                    <li><%= link_to "Subscribed", subscribed_courses_path %></li> 
                   <li><%= link_to "Default", courses_path %></li>
             
            </ul>
          </li>


            <!-- <li>
                <a href="#">Sort By&nbsp;&nbsp;<i style="width:12px;margin-top:4px;float:right;height:15px;background-image:url('assets/arrow_white.png');background-position:-312px -96px;"></i></a>
                <ul>
                    <li><%= link_to "Date", datewise_courses_path %></li>
                    <li><%= link_to "Upcoming" + " ( #{Course.where(ispublished: 0).all.size} )", upcomming_courses_path %></li>
                    <li><%= link_to "Popularity", popular_courses_path %></li>
                    <li><%= link_to "Subscribed", subscribed_courses_path %></li> 
                   <li><%= link_to "Default", courses_path %></li>
                </ul>
            </li> -->

        </ul>

        <ul class="nav pull-right">
           <li id="fat-menu" class="dropdown" style="color:black;">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style=" font-size: 1.2em;
      position: relative;color:black; ">Categories&nbsp;<b class="caret" style="margin-top:1px;border-left: 7px solid transparent;border-right: 7px solid transparent;border-top: 7px solid #34495E;"></b></a>
                <ul class="dropdown-menu">

                    <li><%= link_to "All" + " ( #{Course.where(ispublished: 1).all.size} )", courses_path %></li>


                    <% @topics.each do |topic| %>   
                       <% @topicStructure = topic.name + " ( #{ topic.courses.where(ispublished: 1).size} )" %>

                          <li><%= link_to @topicStructure, topic %></li>
                    <%end%>    
                </ul>
            </li>
        </ul>
        <div class="clearfix"></div>
       
        
        </div>
        <div class="clearfix"></div>


        <div class="clearfix"></div>
        
        <%= render 'shared/courselist' %>

      </div>
    </div>
  </div>

    <div class='apple_pagination' align="center">
    
     <%= will_paginate @courses, :container => false %>
   </div> 
