<div style="float:left">
<%= render 'shared/side_menu' %>
</div>

<br>
<div class="row">
  <div class="span12 offset3">
    
<%- model_class = Course -%>
<div class="page-header">
</div>
<table class="table table-condensed table-hover">
  <thead>
    <tr><td colspan="5"><h3 align = "center">Manage Course Library</h3></td></tr>
    <tr>
      <th></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:author) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>

    <% @courses.each do |course| %>
    <tr>

      <td><%= image_tag url_for(:action => 'show_image', :id => course.id), :size => "40x40" %></td>
      <td><%= link_to course.title, course_path(course) %></td>
      <td><%= course.author %></td>
      <td><%=l course.created_at %></td>
      <td>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
        edit_course_path(course), :class => 'btn btn-mini' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
        course_path(course),
        :method => :delete,
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
        :class => 'btn btn-mini btn-danger' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>