<% provide(:title, 'A Smarter Way to Learn') %>
<% provide(:effectingHeader) %>
<div class="mycourseheader">
    <div class="container">
      <div class="row">
        <div class="span2">          
          <% if current_user.image_blob == nil %>
            <% if current_user.omni_image_url == nil %>
            <%= gravatar_for_with_size current_user, "100x100" %>
            <% else  %>
            <%= image_tag(current_user.omni_image_url,size: "100x100", alt: "")%> 
            <% end  %>
          <% else  %>
            <%= image_tag url_for(:controller => 'registrations',:action => 'user_image', :id => current_user.id), :size => "100x100" %>
          <% end  %>
        </div>
        <div class="span10 userdetailsection">
          <h3><%= current_user.name %></h3> <%= link_to "Edit Profile", edit_user_registration_path %>
          <br/>
          <span class="mycoursecurrentdnumber">
            <strong><%= @enrolled_courses.count %></strong> Courses Ongoing
          </span>
          <br/>
          <span class="mycoursecompletednumber">
            <strong><%= @completed_courses.count %></strong> Courses Completed
          </span>
          <!-- <br/>
          <span class="mycourseshortlistednumber">
            <strong>1</strong> Courses Shortlisted
          </span> -->
        </div>

        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <div class="mycoursebody">
    <div class="container">
      <div class="row">
        <div class="span8">
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#currentcourses" data-toggle="tab">My Current Courses (<%= @enrolled_courses.count %>)</a>
            </li>
            <li class="">
              <a href="#completedcourses" data-toggle="tab">My Completed Courses (<%= @completed_courses.count %>)</a>
            </li>
            <!-- <li class="">
              <a href="#shortlistedcourses" data-toggle="tab">My Shortlisted Courses (1)</a>
            </li> -->
          </ul>

          <div class="tab-content">

            <div class="tab-pane active" id="currentcourses">
                <div class="mycurrentcoursesection">
                  
                  <div class="row">

                   


                    <% @enrolled_courses.each do |course|%>
                    <div class="span8" style="margin-bottom: 30px;">
                      <div class="courses" style="margin-top:0px;">
                        <article class="course path-100" data-connection="18 20" data-tag="ruby-basics" id="course-6">
                            <div class="card-a course-inner">
                            <div class="course-progress" data-width="0%" style="width: 0%;"></div>
                      <%= image_tag url_for(:controller=>"courses", :action => 'show_image', :id => course.id), width: "130", height: "130",:class=>"course-badge img-circle" %>                            <div class="course-content">
                            <em class="label-a label-offset green" rel="tooltip" data-original-title="Orientation courses are entry-level courses in each of our Paths."><b><%=course.topic.name.split(' ').map(&:capitalize).join(' ') if !course.topic.nil? %></b></em>
                            <!-- <em class="label-b">Free Course</em> -->
                           
<a href="<%= lms_course_url("#{course.lms_id}modules")%>">
                           <h3 class="course-name"><%= course.title %></h3>
                            <p class="course-desc"><%= course.short_desc %></p>
                           </a></div>
                            </div>
                        </article>
                      </div>
                    </div>
                    <% end %>

                    

                  </div>
                </div>
            </div>

            <div class="tab-pane" id="completedcourses">
              <div class="mycompletedcoursesesection">
                           <div class="row">
                  <% @completed_courses.each do |course|%>
               
                    <div class="span8" style="margin-bottom: 30px;">  
                      <div class="courses" style="margin-top:0px;">
                        <article class="course path-100" data-connection="18 20" data-tag="ruby-basics" id="course-6">
                            <div class="card-a course-inner">
                            <div class="course-progress" data-width="0%" style="width: 0%;"></div>
                            <img alt="Try Ruby" class="course-badge img-circle" height="130" src="http://placehold.it/130x130&text=Course" width="130">
                            <div class="course-content">
                            <em class="label-a label-offset orange" rel="tooltip" data-original-title="Orientation courses are entry-level courses in each of our Paths.">Operations</em>

                            <!-- <em class="label-b">Free Course</em> -->
                           <%=link_to(course) do %><h3 class="course-name"><%= course.title %></h3>
                            <p class="course-desc"><%= course.short_desc %></p>
                            <% end %></div>
                            </div>
                        </article>
                      </div>
                    </div>
                     <% end %>
                    

                  
                  
                </div>
              </div>
            </div><!-- <div class="tab-pane active" id="completedcourses"> -->


            <div class="tab-pane" id="shortlistedcourses">
              <div class="mysubscribedcoursesesection">
                <h3>My Subscribed Courses</h3>
                <div class="row">
                  
                  <div class="span8">
                      <div class="courses">
                        <article class="course path-100" data-connection="18 20" data-tag="ruby-basics" id="course-6">
                            <div class="card-a course-inner">
                            <div class="course-progress" data-width="0%" style="width: 0%;"></div>
                            <img alt="Try Ruby" class="course-badge img-circle" height="130" src="http://placehold.it/130x130&text=Course" width="130">
                            <div class="course-content">
                            <em class="label-a label-offset violate" rel="tooltip" data-original-title="Orientation courses are entry-level courses in each of our Paths.">New</em>
                            <!-- <em class="label-b">Free Course</em> -->
                           <%=link_to(@course) do %><h3 class="course-name">New Course</h3>
                            <p class="course-desc">Learn the basic building blocks of New Course in your browser.</p>
                            <% end %></div>
                            </div>
                        </article>
                      </div>
                    </div>
                </div>
              </div>
            </div><!-- <div class="tab-pane active" id="shortlistedcourses"> -->


          </div>
        </div><!-- End of span8 -->
        <div class="span4">
          <div class="youmaylikecourse" align="center">
                <h3>Explore More Courses</h3>
                <!-- <a href="courselibrary.php"><span class="btn btn-info btn-large exploremore">Explore More Courses</span></a> -->
                <div align="center">
                  <span align="center">
                   <%= link_to "", courses_path,class:"browsemore2" %>
                   <!-- <h6 style="margin:0px;color:steelblue;">Discover More Courses</h6> -->
                  </span>
                </div>
          </div>

        </div><!-- End of span4 -->
      </div>
    </div>
  </div><!-- End of container -->
