<% provide(:title, 'A Smarter Way to Learn') %>
<% provide(:effectingHeader) %>
<div class="span12" style=" border-radius: 10px;background: white;margin-left: 90px;width: 1155px;">
<div style="width:100%;margin-left:65px;margin-top:20px;">
<div style="margin-top:20px;float:left;">
<% if current_user.image_blob == nil %>
        <% if current_user.omni_image_url == nil %>
        <%= gravatar_for_with_size current_user, "120x90" %>
        <% else  %>
        <%= image_tag(current_user.omni_image_url,size: "120x90",:class=>"img-polaroid")%> 
        <% end  %>
        <% else  %>
        <%= image_tag url_for(:controller => 'registrations',:action => 'user_image', :id => current_user.id),:class=>"img-polaroid", :size => "120x90" %>
        <% end  %>
 </div>
<div style="padding:0px;margin-left:20px;float:left;"><h2 style="font-size:20px;color:#576b00;font-weignt:bold;"><%= current_user.name %> </h2>
<span><%= link_to "Edit Profile", edit_user_registration_path %></span><br>
<span><%= @enrolled_courses.count %></strong> Courses Ongoing</span><br>
<span><%= @completed_courses.count %></strong> Courses Completed</span>
</div>
</div>    
<div class="cbox_3b fp_box" style="width:100%;"><span class="b1"></span>
                                </div> 


 <div class="cbox_3b fp_box">
    <div style="width:60%;float:left;margin:10px ; text-align:left;">
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#currentcourses" data-toggle="tab">My Current Courses (<%= @enrolled_courses.count %>)</a>
            </li>
            <li class="">
              <a href="#completedcourses" data-toggle="tab">My Completed Courses (<%= @completed_courses.count %>)</a>
            </li>
            <!-- <li class="">
              <a href="#shortlistedcourses" data-toggle="tab">My Shortlisted Courses (1)</a>
            </li> -->
          </ul>

          <div class="tab-content">

            <div class="tab-pane active" id="currentcourses">
              <div class="mycurrentcoursesection">

                <div class="row">
                  
                  <div class="span8" >
                   <div class="inx_wrap" >
    <ul>
           <% @enrolled_courses.each do |course|%> <li>
        <div class="mod_pen">
          <div class="mod_pen_top"></div>
          <div class="mod_pen_center">
            <div class="mod_imag">                   
              <%=link_to(course) do %>
             <% if course.data!=nil %>
                          <%= image_tag url_for(:controller=>"courses", :action => 'show_image', :id => course.id), width: "180", height: "100" , :style=>"top:0px;"%>
                          <% else %>
                          <%= image_tag "test.png", width: "180", height: "100", :style=>"top:0px;" %>
                          <% end %>
             </div>
            <div class="clr"></div>
            <h2>
              <%= course.title %>  </h2><% end %>
            <p>
              <%= course.short_desc %>          </p>
            <div class="mod_com">
              <div class="pr_left">Price</div>
              <div class="pr_right">
               <%= price_of_course_according_to_date(course)  %>          </div>
            </div>
            <div class="mod_com">
              <div class="pr_left gree">Duration</div>
              <div class="pr_right gree">
               <%= durationcalculation(course) %> 
              </div>
            </div>
          </div>
          <div class="mod_pen_bottom"><%=link_to(course) do %>
            <div class="mod_view">View Details</div>
            <% end %> </div>
        </div>
      </li><% end %></ul></div>
                   </div>
                   



                 </div>
               </div>
             </div>

             <div class="tab-pane" id="completedcourses">
              <div class="mycompletedcoursesesection">
               <div class="row">
                

                <div class="span8" >  
                  <div class="inx_wrap" >
    <ul>
           <% @completed_courses.each do |course|%> <li>
        <div class="mod_pen">
          <div class="mod_pen_top"></div>
          <div class="mod_pen_center">
            <div class="mod_imag">                   
              <%=link_to(course) do %>
             <% if course.data!=nil %>
                          <%= image_tag url_for(:controller=>"courses", :action => 'show_image', :id => course.id), width: "180", height: "100", :style=>"top:0px;" %>
                          <% else %>
                          <%= image_tag "test.png", width: "180", height: "100", :style=>"top:0px;" %>
                          <% end %>
                          <% end %>
             </div>
            <div class="clr"></div>
            <h2>
              <%= course.title %>  </h2>
            <p>
              <%= course.short_desc %>          </p>
            <div class="mod_com">
              <div class="pr_left">Price</div>
              <div class="pr_right">
               <%= price_of_course_according_to_date(course)  %>         </div>
            </div>
            <div class="mod_com">
              <div class="pr_left gree">Duration</div>
              <div class="pr_right gree">
               <%= durationcalculation(course) %> 
              </div>
            </div>
          </div>
          <div class="mod_pen_bottom"><%=link_to(course) do %>
            <div class="mod_view">View Details</div>
            <% end %>  </div>
        </div>
      </li><% end %></ul></div>
                  </div>          
                  
                </div>
              </div>
            </div>
         </div>
          </div>
        <div style="width:30%;float:left;margin:10px ; text-align:left;">
           <div class="youmaylikecourse" >
              <h4 style="padding:9px 0px;border-bottom: 1px solid #ddd;color: #2980B9 ;">Explore More Courses</h4>
                        
                 
                 <%= render 'shared/my_courses' %>
           </div>
         </div>
      </div>      </div>