

<div style="float:left">
<%= render 'shared/side_menu' %>
</div>
<br>
<div class="row">
	<div class="span10 offset3">
		
	<% provide(:title, 'Create Course') %>

			<div class = "hero-unit" style="border:1px solid #0088cc;border-radius:5px;">
				
						<h3 align = "center">New Course Library</h3>
					
					<%= form_for @course do |f| %>
				<table class="table table-hover ">
					<tr>
					<%= render 'shared/error_messages', object: f.object %>
				</tr>
					<tr><td><%= f.label :title, "Course Title" %></td>
						<td><%= f.text_field :title,:maxlength => 30%></td></tr>

						<tr><td><%= f.label :author, "Author Name" %></td>
							<td><%= f.text_field :author,:maxlength => 30 %></td></tr>

						<tr><td><%= f.label :short_desc, "Short Description" %></td>
							<td><%= f.text_field :short_desc,:maxlength => 50 %></td></tr>

							<tr><td><%= f.label :desc, "Course Description" %></td>
								<td><%= f.text_area :desc ,:cols => "30", :rows => "10",:maxlength => 1000 %></td></tr>

								<tr><td><%= f.label 'attachment', "Image" %></td>
									<td><%= f.file_field 'attachment' %></td></tr>

									<tr><td><%= f.label :ispopular, "Popular" %></td>
									<td><%= f.check_box :ispopular %></td></tr>
									
									<tr><td><%= f.label :ispublished, "Publish" %></td>
									<td><%= f.check_box :ispublished ,:checked => true%></td></tr>


									<tr><td><%= f.label :topic_id, "Category" %></td>
										<td>
											<% topics_array = Topic.all.map { |topic| [topic.name, topic.id] } %>

							<%= f.select(:topic_id,options_for_select(topics_array))%>

								</td></tr>

										<tr><td></td><td><%= f.submit "Add Course", class: "btn btn-large btn-primary" %>
									</td></tr></table>
									<% end %>

								</div>
							</div>
						</div>
						
				
