<%= render 'shared/course_detial' %>

<div class="coursesyllabus">
  <div class="container">
    <div class="row">
      <div class="span8">
        <div class="head">
          <h3>Course Modules</h3>
        </div>
        <div class="underlinetext">
          <ul>
            <% @modules.each do |m| %>
            <li>
              <h4><i class="icon-book"></i><%= m.name %></h4>
            </li>
            <% end %>
          </ul>
        </div>
        
      </div>
      <div class="span6">
        <div class="head">
          <h3>Course Description</h3>
        </div>
        <div class="underlinetext" >
          
         <%= @course.desc  %></br> </br>
       </div>
       <div class="starrating">
         <div class='spread'>  <div class='twshare left'>   </div>
         <table> <tr>
          <td>
           <td><script type="text/javascript" src="http://platform.linkedin.com/in.js"></script></td>
           <script type="in/share" data-url="<%=request.url%>" data-counter="right"></script>
           <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>  
           <td><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script> <fb:like href="<%=request.url%>" layout="button_count" show_faces="false" width="450" font=""></fb:like></td> 
           <script src="https://apis.google.com/js/plusone.js"></script>
           <td><g:plus action="share" annotation="bubble" ></g:plus></td> 
           <td>
            <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
            <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="<%= truncate(@course.desc, :length => 70)  %>">Tweet</a>


          </td>

        </tr>
      </table>
    </div>
  </div>
</div>
</div>
</div>
</div>

<div class="aboutauthor">
  <div class="container ">
    <h1>About the Author</h1>
    <% @authors.each do |author|%>
    <div class="row" style="width:30%; display:inline-block; clear:left; margin:15px">

      <div class="authorimage">
        <% if author.image_blob == nil %>
        <% if author.omni_image_url == nil %>
        <%= gravatar_for_with_size author, "100x100" %>
        <% else  %>
        <%= image_tag(author.omni_image_url,size: "100x100", alt: "")%> 
        <% end  %>
        <% else  %>
        <%= image_tag url_for(:controller => 'registrations',:action => 'user_image', :id => author.id), :size => "100x100" %>
        <% end  %>
      </div>
      <div class="authorinfo">

        <h4><%= author.name %></h4>
        <p><%= author.user_desc %></p>

      </div>
      <div class="container clearfix"></div>
    </div>
    <% end %>
  </div>
</div>

<div class="previewcourse" id="previewcourse">
  <div class="container">
    <div class="row">
      <h2>Lecture Preview: A Sneak Peak into the course</h2>
      <% a=0 %>
      <% @course.course_previews.where(enable: 1).order(:sequence).each do |p| %>
      <% a +=1  %>
      <div class="span6 prevbox">
       <table> <tr>
         <td>
           <div class="bannervideo">
            <% url = p.video_url.split('/')  %>
            <a href="#preview_model<%= a %>" data-toggle="modal" > <img src="http://i.ytimg.com/vi/<%= url[4] %>/default.jpg" /></a>
            <div id="preview_model<%= a %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><%=image_tag("close.png", alt: "")%></a></button>
              <div class="modal-header">
                <h3 id="myModalLabel">Preview Video</h3>
              </div>
              <div class="modal-body">
               <iframe width="400" height="350" src=<%= p.video_url %> frameborder="0" allowfullscreen class="iframe"></iframe> 
             </div>
           </div>
         </div>
       </td>
       <td>
         <div class="previnfo">
           <h3><%= p.name %></h3>
           <p class="prevtxt"><%= p.desc %></p>
         </div>
       </td>
     </tr>
   </table>
 </div>
 <% end %>      

</div>


</div>
</div>

<div class="coursereviews">
  <div class="container">
    <div class="row">
      <div align="center">
        <h3><%=@course.comments.size%> Reviews</h3>
        <br/>
      </div>
    </div>
    <%= render "comments" %>
    <div class="container clearfix"></div>
  </div>
  <div class='apple_pagination' >
   <%= will_paginate @comments, :container => false %>
 </div>
 <div class="container clearfix"></div>
 <div class="row">
  <div align="center">
    <div >
      <%if current_user.present?%>
      <%= link_to "Add Reveiw",new_comment_path(:commentable=>@course,:commentable_type=>"course"), :locals => {:commentable => @course},class:"browsemore1" %>
      <% else %>  
      <a href="#loginmodal" role="button" data-toggle="modal" class="browsemore1">Add reveiw</a>
      <% end %>  
    </div>

  </div>
</div>
<!-- 
<%= render 'shared/author_info' %>
<%= render 'shared/course_preview' %>
<%= render 'shared/course_reviews' %>
 -->


<div align="center">
  <a href="<%= courses_path %>"><span class="browsemore" align="center">
    
      </span></a>
      <h6 style="color:steelblue;margin:0px;"> Discover More courses</h6>
</div>
</div>

<script>
$(document).ready(function(){
  $(".star").click(function(){
   $(".rated").html("Course Rated")
 });
});
</script>
