<%= render 'shared/course_detial' %>
<script type="text/javascript">
$(document).ready(function(){
    var frames = document.getElementsByTagName("iframe");
    for (var i = 0; i < frames.length; i++) {
             frames[i].src += "?wmode=opaque;"  
        
      }

});

$( ".modal1" ).dialog({ dismissible: false });
</script>
  
 <div class="coursesyllabus">
  <div class="container">
      <div class="row">
        <div class="span12" align="center" style="width: 100%;margin: 20px 0px;padding-top: 20px;background-image: url('../assets/greyband.png');background-size: 100% 100%;">
         
      <div class="span5" style="width: 560px;"> 
        <div class="head">
          <h3 style="text-align:left;">Course Modules</h3>
        </div>
        <div class="underlinetext">
          <ul>
            <% @modules.each do |m| %>
            <li style="list-style:circle;">
              <h4 style="color:#000;font-size:17px;"><%= m.name %></h4>
            </li>
            <% end %>
          </ul>
        </div>
        
      </div>
      <div class="span6">
        <div class="head">
          <h3 style="text-align:left;">Course Description</h3>
        </div>
        <div class="underlinetext" >
          
         <%= @course.desc  %></br> </br>
       </div>
       <div class="starrating">
         <div class='spread'>  <div class='twshare left'>   </div>
         <table style="float: left;"> <tr>
          <td>
           <td><script type="text/javascript" src="http://platform.linkedin.com/in.js"></script></td>
           <script type="in/share" data-url="<%=request.url%>" data-counter="right"></script>
           <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>  
           <td><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script> <fb:like href="<%=request.url%>" layout="button_count" show_faces="false" width="450" font=""></fb:like></td> 
           <script src="https://apis.google.com/js/plusone.js"></script>
           <td><g:plus action="share" annotation="bubble" ></g:plus></td> 
           <td>
            <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
            <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="<%= truncate(@course.desc, :length => 70)  %>">Tweet</a>
          </td>
        </tr>
      </table>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="aboutauthor">
  <div class="container ">
    <h1 >About the Faculty</h1>
    <% @authors.each do |author|%>
    <div class="row" style="width:81%; display:inline-block; clear:left;">
      <div class=" span2 authorimage">
        <% if author.user.image_blob == nil %>
        <% if author.user.omni_image_url == nil %>
        <%= gravatar_for_with_size author.user, "130x130", :style=>"box-shadow: 3px 3px 5px #ccc;" %>
        <% else  %>
        <%= image_tag(author.user.omni_image_url,size: "130x130", alt: "", :style=>"box-shadow: 3px 3px 5px #ccc;")%>
        <% end  %>
        <% else  %>
        <%= image_tag url_for(:controller => 'registrations',:action => 'user_image', :id => author.user.id), :size => "130x130", :style=>"box-shadow: 3px 3px 5px #ccc;"%>
        <% end  %>

      </div>
     <div class="span6 authorinfo"> <h4 style="font-size:21px;color:#2a478d;"> <%= author.name %></h4>
        <p style="min-height:65px;"><%= truncate(author.description, :length => 300)%></p>
      <% if !!author.linkedin_profile_url %>
              <%= link_to image_tag("linkedin_icon.png", :alt => author.name , :class=>"img-circle", :size => "30x30"), "http://" + author.linkedin_profile_url, :target => "_blank" %>
        <% end  %></div>
      

      <div class="container clearfix"></div>
    </div>
    <% end %>
  </div>
</div>
<div class="previewcourse " id="previewcourse">
  <div class="secondary-content" style="width:100%;">
      <h2>Lecture Preview: A Sneak Peak into the course</h2>
    </div>
  <div class="container">
    <div class="row">

      <% a=0 %>
      <% @course.course_previews.where(enable: 1).order(:sequence).each do |p| %>
      <% a +=1  %>
      <div class="span7 prevbox">
       <table> <tr>
         <td>
           <div class="bannervideo">
            <% h = p.video_url %>
            <% url = h[38..h.length-44].split('/')  %>

            <a href="#preview_model<%= a %>" data-toggle="modal" data-dismissible="false" > <img src="http://i.ytimg.com/vi/<%= url[4] %>/default.jpg" style="width: 170px;height: 120px;" /></a>
      <div id="preview_model<%= a %>" data-dismissible="false" data-backdrop="false" class="modal1 hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="position:fixed;margin:0px auto;left:28%;" >
              <button type="button" class="close"  data-dismiss="modal" aria-hidden="true">

                <%=image_tag("close.png", alt: "")%></a>
               </a></button>

              <div class="modal-header">
                <h3 id="myModalLabel">Preview Video</h3>
              </div>

              <div class="modal-body" style="margin-left:0px;">
                                                      
               <%= raw(p.video_url) %>
             

             </div>
           </div>
       </div>
       </td>
       <td style="vertical-align:top;">
         <div class="previnfo">
           <h3 style="font-size: 21px;color: #2a478d;"><%= p.name %></h3>
           <p class="prevtxt"><%= p.desc %></p>

         </div>
       </td>
     </tr>
   </table>
 </div>
 <% end %>
</div>
</div>
</div>
<div style="text-align:center"><a href="#top" >Go to Top</a></div>
<div class="coursereviews">
  <div class="container">
    <div class="row">
      <div align="center">
        <div class="secondary-content" style="background-image: url(../assets/greyband.png);height: 100px;width: 100%;background-size: 100% 100%;">
        <h3 style="padding: 20px 0px;"> Reviews  (<%=@course.comments.size%>)</h3>
        <br/>
      </div>
      </div>
    </div>
    <%= render "comments" %>
    <div class="container clearfix"></div>
  </div>
  <div class='apple_pagination' >
   <%= will_paginate @comments, :container => false %>
 </div>
 <div class="container clearfix"></div>
 <div class="row">
  <div align="center">
    <div >
      <%= link_to "Write a review",new_comment_path(:commentable=>@course,:commentable_type=>"course"), :locals => {:commentable => @course},class:"browsemore1" %>
    </div>
  </div>
</div>

</div>
</div>
  <div class="bottomadsection">
    <div class="container">
      <div class="row">
        <div class="span12" align="center" style="width: 98%;">
          <h3 style="font-size: 32px;font-weight: 300;">Step Up Your Learning Curve Today!</h3>
          
          <a href="/courses" class="browseourcoursessmall">Browse Our Courses</a>

          &nbsp;&nbsp;&nbsp;&nbsp;
           <% unless user_signed_in?%>
          <a href="#sign_up_Modal" role="button" data-toggle="modal" class="browseourcoursessmall">I'm Interested</a>
          <%end%>
        </div>
       
      </div>
    </div>
  </div>
<script>
$(document).ready(function(){
  $(".star").click(function(){
   $(".rated").html("Course Rated")
 });

$(".close").click(function(){
  var frames = document.getElementsByTagName("iframe");
  for (var i = 0; i < frames.length; i++) {
    frames[i].src += "&stop";
  }
  $("object").stop();
});

});
</script>


 <script>
  $(function() {
  
    function filterPath(string) {
      return string
      .replace(/^\//,'')
      .replace(/(index|default).[a-zA-Z]{3,4}$/,'')
      .replace(/\/$/,'');
    }
  
    var locationPath = filterPath(location.pathname);
    var scrollElem = scrollableElement('html', 'body');
  
    // Any links with hash tags in them (can't do ^= because of fully qualified URL potential)
    $('a[href*=#]').each(function() {
  
      // Ensure it's a same-page link
      var thisPath = filterPath(this.pathname) || locationPath;
      if (  locationPath == thisPath
        && (location.hostname == this.hostname || !this.hostname)
        && this.hash.replace(/#/,'') ) {
  
          // Ensure target exists
          var $target = $(this.hash), target = this.hash;
          if (target) {
  
            // Find location of target
            var targetOffset = $target.offset().top;
            $(this).click(function(event) {
  
              // Prevent jump-down
              event.preventDefault();
                //alert(target);
                if(target!="#previewcourse" && target!="#top" ) return;
              // Animate to target
              $(scrollElem).animate({scrollTop: targetOffset}, 900, function() {
  
                // Set hash in URL after animation successful
                location.hash = target;
  
              });
            });
          }
      }
  
    });
  
    // Use the first element that is "scrollable"  (cross-browser fix?)
    function scrollableElement(els) {
      for (var i = 0, argLength = arguments.length; i <argLength; i++) {
        var el = arguments[i],
        $scrollElement = $(el);
        if ($scrollElement.scrollTop()> 0) {
          return el;
        } else {
          $scrollElement.scrollTop(1);
          var isScrollable = $scrollElement.scrollTop()> 0;
          $scrollElement.scrollTop(0);
          if (isScrollable) {
            return el;
          }
        }
      }
      return [];
    }
  
  });
 </script>

