<%= render 'shared/course_detial' %>

<div class="coursesyllabus">
  <div class="container">
    <div class="row">
      <div class="span8">
        <div class="head">
          <h3>Course Modules</h3>
        </div>
        <div class="underlinetext">
          <ul>
            <% @modules.each do |m| %>
            <li>
              <h4><i class="icon-book"></i><%= m.name %></h4>
            </li>
            <% end %>
          </ul>
        </div>
        
      </div>
      <div class="span6">
        <div class="head">
          <h3>Course Description</h3>
        </div>
        <div class="underlinetext" >
          
         <%= @course.desc  %></br> </br>
       </div>
       <div class="starrating">
         <div class='spread'>  <div class='twshare left'>   </div>
         <table> <tr>
          <td>
           <td><script type="text/javascript" src="http://platform.linkedin.com/in.js"></script></td> <td></td>
           <script type="in/share" data-url="<%=request.url%>" data-counter="right"></script>

           <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>  
           <td><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script> <fb:like href="<%=request.url%>" layout="button_count" show_faces="false" width="450" font=""></fb:like></td> <td></td>


           <script src="https://apis.google.com/js/plusone.js"></script>
           <td><g:plus action="share" annotation="bubble" ></g:plus></td> <td></td>
           <td>
            <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
            <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="<%= truncate(@course.desc, :length => 70)  %>">Tweet</a>


          </td>

        </tr>
      </table>
    </div>
  </div>
</div>
</div>
</div>
</div>

<%= render 'shared/author_info' %>
<%= render 'shared/course_preview' %>
<%= render 'shared/course_reviews' %>



<div align="center">
  <a href="<%= courses_path %>"><span class="browsemore" align="center">
    Browser More Courses
  </span></a>
</div>
</div>

<script>
$(document).ready(function(){
  $(".star").click(function(){
   $(".rated").html("Course Rated")
 });
});
</script>
