<h3 align = "center">Testimonials</h3>
<table align="center">
<%= form_for @testimonial do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
 <tr>
    <td><%= f.label :title %></td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td><%= f.label :Description %></td>
    <td><%= f.text_area :desc %></td>
  </tr>
  
 <tr>
   <td><%= f.submit "Save" %> </td>
</tr>
<% end %>
</table>