 <div id="certified_program_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" > 
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><a href="#" onclick="close_popup()"><%=image_tag("close.png", alt: "", :size=>"35x35")%></a></button>
  <div class="modal-header" >
    <h3 id="myModalLabel" align="center">Login </h3>
  </div>
  <div class="modal-body">
		<%= simple_form_for :certificateprogramusers do |f| %>
			<table class="table table-hover ">
			
				
				<tr><td><%= f.label :name, "Name" %></td>
					<td><%= f.text_field :name%></td></tr>
					<tr><td><%= f.label :email, "Email" %></td>
					<td><%= f.text_field :email%></td></tr>
					<tr><td><%= f.label :mobile, "Mobile" %></td>
					<td><%= f.text_field :mobile%></td></tr>
					<tr><td><%= f.label :age, "Age" %></td>
					<td><%= f.text_field :age%></td></tr>
					<tr><td><%= f.label :city, "City" %></td>
					<td><%= f.text_field :city%></td></tr>
					<tr><td><%= f.label :course, "Course Name" %></td>
					<td><%= f.text_field :course%></td></tr>
<tr><td></td><td><%= f.submit "submit", class: "btn btn-large btn-primary" %>
</td></tr></table>
<% end %>
</div>
</div>
			