






<div class="footer">
<div class="container">

    <div class="row">
      <div class="four columns mission">
        <p class="headinglike" style="font-size: 20px; font-weight:300;">Beacon learning</p>
        <p>Our mission is to provide the high quality professional tertiary education including undergraduate, post graduate, executive and continuing education.
        </p>
        <ul class="social">
            <li>
<span class='st_twitter_large' displayText='Tweet'></span>            </li>
           
            <li>
              <span class='st_facebook_large' displayText='Facebook'></span><li>
            <li>
<span class='st_googleplus_large' displayText='Google +'></span>            </li>
            <li>
<span class='st_linkedin_large' displayText='LinkedIn'></span>            </li>
        </ul>
        <p class="copyright">
          © 2013 Beacon Learning.
        </p>
      </div>
      <div class="two columns">
        <ul class="link-list site-nav right">
          <li class="heading">Our Company →</li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact Us", new_contact_path %></li>
          <li><%= link_to "Privacy Policy", privacy_path %></li>
          <li><%= link_to "Terms & Conditions ", terms_path %></li>
        </ul> 
      </div>
      <div class="two columns">
        <ul class="link-list library-nav right">
          <li class="heading">Browse full library →</li>
          <% @topics = Topic.all  %>
           <% @topics.each do |topic|%>  
                       <% @topicStructure = topic.name %>
                     <li><%= link_to @topicStructure, topic %></li>
                    <%end%>    
        </ul>
      </div>
      <div class="two columns end">
        <ul class="link-list contact-nav right">
          <li class="heading">
            Get in touch →
          </li>
          <li><%= link_to "Write Us", new_contact_path %></li>
          <li><a href="mailto:info@beaconlearning.in">Email Us</a></li>
        </ul>
      </div>
    </div>
</div>
</div>
