





<div style="height: 5px;width: 85%;margin: 0px 260px;">
<%= image_tag "horizontal.png",width:"900",height:"25" %>
</div>

<div style="width:100%;float:left;background-color: #fff;">
<div class="span10" style="width:1346px;;margin:10px 0px 0px 25px;">
<div class="footer">
  <div class="container">

    <div class="row">
      <div class="four columns mission">
        <p class="headinglike" style="font-size: 20px; font-weight:300;">Smart learning</p>
        <p>Our mission is to provide the high quality professional tertiary education including undergraduate, post graduate, executive and continuing education.
        </p>
        <ul class="social">
          <li>
            <a href="https://twitter.com/BeaconeLearning" target="_blank" title="Twitter">
              <%= image_tag "/assets/twitter.png" %>
            </a>
          </li>

          <li>
            <a href="https://www.youtube.com/beaconelearning" target="_blank"  title="Youtube">
              <%= image_tag "/assets/youtube.png" %>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/beaconlearningindia" target="_blank"  title="Facebook">
              <%= image_tag "/assets/facebook.png" %>
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/107673193130571288433/about?partnerid=gplp0"  target="_blank" title="Google Plus">
              <%= image_tag "/assets/googleplus.png" %>
            </a>
          </li>
          <li>
            <a href="http://www.linkedin.com/groups/Beacon-Learning-4939238"  target="_blank" title="LinkedIn">
              <%= image_tag "/assets/linkedin.png" %>
            </a>
          </li>

        </ul>

        <p class="copyright">
          © 2013 Smart Learning.
        </p>
      </div>
      <div class="two columns">
        <ul class="link-list site-nav right">
          <li class="heading">Our Company →</li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact Us", new_contact_path %></li>
          <li><%= link_to "Privacy Policy", privacy_path %></li>
          <li><%= link_to "Terms & Conditions ", terms_path %></li>
        </ul> 
      </div>
      <div class="two columns">
        <ul class="link-list library-nav right">
          <li class="heading">Browse full library →</li>
          <% @topics = Topic.all  %>
          <% @topics.each do |topic|%>  
          <% @topicStructure = topic.name %>
          <li><%= link_to @topicStructure, topic %></li>
          <%end%>    
        </ul>
      </div>
      <div class="two columns end">
        <ul class="link-list contact-nav right">
          <li class="heading">
            Get in touch →
          </li>
          <li><%= link_to "Write Us", new_contact_path %></li>
          <li><a href="mailto:info@beaconlearning.in">Email Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
</div>