<div class="footer">
<div class="container">

    <div class="row">
      <div class="four columns mission">
        <p class="headinglike" style="font-size: 20px; font-weight:300;">Beacon learning</p>
        <p>Our mission is to provide the high quality professional tertiary education including undergraduate, post graduate, executive and continuing education.
        </p>
        <ul class="social">
            <li>
              <a href="#" title="Twitter">
                <img alt="Icon-twitter-new" src="assets/twitter.png">
              </a>
            </li>
            <li>
              <a href="#" title="Youtube">
                <img alt="Icon-youtube" src="assets/youtube.png">
              </a>
            </li>
            <li>
              <a href="#" title="Facebook">
                <img alt="Icon-facebook-new" src="assets/facebook.png">
              </a>
            </li>
            <li>
              <a href="#" title="Google Plus">
                <img alt="Icon-googleplus" src="assets/googleplus.png">
              </a>
            </li>
            <li>
              <a href="#" title="LinkedIn">
                <img alt="Icon-linkedin" src="assets/linkedin.png">
              </a>
            </li>
        </ul>
        <p class="copyright">
          © 2013 Beacon Learning.
        </p>
      </div>
      <div class="two columns">
        <ul class="link-list site-nav right">
          <li class="heading">Our Company →</li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact Us", contact_path %></li>
          <li><%= link_to "Privacy Policy", privacy_path %></li>
          <li><%= link_to "Terms & Conditions ", terms_path %></li>
        </ul> 
      </div>
      <div class="two columns">
        <ul class="link-list library-nav right">
          <li class="heading">Browse full library →</li>
            <li><a href="#">Data Analytics</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Finance</a></li>
            <li><a href="#">Operations</a></li>

        </ul>
      </div>
      <div class="two columns end">
        <ul class="link-list contact-nav right">
          <li class="heading">
            Get in touch →
          </li>
          <li><%= link_to "Write Us", contact_path %></li>
          <li><a href="mailto:info@beaconlearning.in">Email Us</a></li>
        </ul>
      </div>
    </div>
</div>
</div>
