






<div class="footer">
  <div class="container">

    <div class="row">
      <div class="four columns mission" style="margin-left:150px;">
        <p class="heading" style="margin-bottom: 4px;font-weight:bold; ">Connect with Beacon Learning</p>
       
        <ul class="social">
          <li class="twitter">
            <a href="https://twitter.com/BeaconeLearning" target="_blank" title="Twitter">
              
            </a>
          </li>

          <li class="youtube">
            <a href="https://www.youtube.com/beaconelearning" target="_blank"  title="Youtube">
              
            </a>
          </li>
          <li class="facebook">
            <a href="https://www.facebook.com/beaconlearningindia" target="_blank"  title="Facebook">
              
            </a>
          </li>
          <li class="googleplus">
            <a href="https://plus.google.com/107673193130571288433/about?partnerid=gplp0"  target="_blank" title="Google Plus">
              
            </a>
          </li>
          <li class="linkedin">
            <a href="http://www.linkedin.com/groups/Beacon-Learning-4939238"  target="_blank" title="LinkedIn">
              
            </a>
          </li>

        </ul>

        <p class="copyright">
          © 2013 Beacon Learning.
        </p>
      </div>
      <div class="two columns">
        <ul class="link-list site-nav right">
          <li class="heading">Our Company</li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact Us", new_contact_path %></li>
          <li><%= link_to "Privacy Policy", privacy_path %></li>
          <li><%= link_to "Terms & Conditions ", terms_path %></li>
          
        </ul> 
      </div>
      <div class="two columns">
        <ul class="link-list library-nav right">
          <li class="heading">Browse full library</li>            
               <% topic = Topic.find_by_name("Finance") rescue nil? %>
                              <% if !!topic %>
                                  <li ><%= link_to "Finance Courses", topic %>
                                  </li>
                              <% else %>
                                  <li ><%= link_to "Finance Courses", courses_path %>
                                  </li>
                             <% end %>
                                   <% topic = Topic.find_by_name("Marketing") rescue nil? %>
                              <% if !!topic %>
                                  <li ><%= link_to "Marketing Courses", topic %>
                                  </li>
                              <% else %>
                                  <li ><%= link_to "Marketing Courses", courses_path %>
                                  </li>
                             <% end %>
                                   <% topic = Topic.find_by_name("Analytics") rescue nil? %>
                              <% if !!topic %>
                                  <li ><%= link_to "Analytics Courses", topic %>
                                  </li>
                              <% else %>
                                  <li ><%= link_to "Analytics Courses", courses_path %>
                                  </li>
                             <% end %>
                                   <% topic = Topic.find_by_name("Online certification programs") rescue nil? %>
                              <% if !!topic %>
                                  <li ><%= link_to "Online certification programs", topic %>
                                  </li>
                              <% else %>
                                  <li ><%= link_to "Online certification programs", courses_path %>
                                  </li>
                             <% end %>
                                
       </ul>
      </div>

    </div>
  </div>
</div>
<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
$.src='//cdn.zopim.com/?1JPULCVdUq4EPLVvAt0SZ9QtnrtEk7O3';z.t=+new Date;$.
type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>
<!--End of Zopim Live Chat Script-->