 <!-- Modal  -->
 <div id="loginmodal1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><a href="#" onclick="close_popup()"><%=image_tag("close.png", alt: "", :size=>"35x35")%></a></button>
  <div class="modal-header" >
    <h3 id="myModalLabel" align="center">Forgot Your Password </h3>
</div>
<div class="modal-body" style="width:300px">


<div class="container">   
	<div class="row">
		<div class="span6 offset3">
			<div class="hero-unit">

<h2>Forgot your password?</h2>

<%= form_for(User.new, :as => :user, :url => password_path(:user), :html => { :method => :post }) do |f| %>



 

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.submit "Send me reset password instructions" %></div>
<% end %>

</div>
</div>
</div>
</div>




</div>
</div>
