<header class="header-a">
  <div class="inner">
    <div class="logo">
      <a href="/">
      </div>
      <nav class="nav-a">
        <ul >
          <li class="courseslink">
            <%= link_to "Course Library", courses_path %>
          </li>
          <% if user_signed_in?%>
          <% if current_user.has_role? :admin %>
          <li class="courseslink"><%= link_to 'Admin', users_path %></li>
              <script>
          $('.courseslink').css('left',"-100px");
          </script>
           <% else  %>
          <li class="courseslink"><%= link_to "My Courses", courses_path %></li>
     
          <script>
          $('.courseslink').css('left',"-140px");
          </script>
               <% end  %>
          <ul id="dropdownlist">
            <li>
              <a href="#">
                <% if current_user.image_blob == nil %>
                <% if current_user.omni_image_url == nil %>
                <%= gravatar_for_with_size current_user, "15x15" %>
                <% else  %>
                <%= image_tag(current_user.omni_image_url,size: "15x15", alt: "")%> 
                <% end  %>
                <% else  %>
                  <%= image_tag url_for(:controller => 'registrations',:action => 'user_image', :id => current_user.id), :size => "15x15" %>
                <% end  %>
              </i>&nbsp;&nbsp;<%= current_user.name %>
              <i class="icon-arrow-down icon-white"></i></a>
              <ul >
                <li><%= link_to "My Profile", edit_user_registration_path %></li>
                <li> <%= link_to "Log out", destroy_user_session_path, method: "delete" %></li>
              </ul>
            </li>
          </ul>
          <% else  %>
          <li class="loginlink"><a href="#loginmodal" role="button" data-toggle="modal" class="btn-c" >Log In</a></li>
          <li class="createaccountlink"><a href="#sign_up_Modal" role="button" data-toggle="modal" class="btn-a">Create Account</a></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>