<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags unless response.cache_control[:public] %>
  <%= render 'layouts/shim' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag 'favicon.png', :size => "16x16"%>
<script src="http://use.edgefonts.net/source-sans-pro.js"></script>
<script type="text/javascript"> 
 (function() {
  var a = document.createElement('script');a.type = 'text/javascript'; a.async = true; 
  a.src=('https:'==document.location.protocol?'https://':'http://cdn.')+'chuknu.sokrati.com/480/tracker.js'; 
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(a, s);
       })();
</script>
</head>
<body>
<div id="wrapper">
  <% if check_null(yield(:effectingHeader)) %>
 
  <%= render 'layouts/header' %>

  <% else %>
  <!-- Do Nothing -->
  <% end %>
  <!-- <div class="container"> -->

  <% unless response.cache_control[:public] %>
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
<% end %>  

    <%= yield %>
    <%= render 'layouts/login_popup' %>
    <%= render 'layouts/signup_popup' %>
    <%= render 'layouts/certified_popup' %>
    <%= render 'layouts/knowledge_partner_popup' %>
    <%= render 'layouts/forgot_password' %>
     <% if !current_page?(businessanalyticsprogram_path) %>
      <%= render 'layouts/footer'  %>
  <%end%>
</div>
</body>
<%= debug(params) if Rails.env.development? %>
</html>
