<%= form_for (@account) do |f| %>
<table><tr><td><%= f.label :name %></td>
<td><%= f.text_field :name %></td></tr>
<tr><td><%= f.label :organization %></td>
<td>
<%= f.text_field :organization %></td></tr>

<tr><td><%= f.label :no_of_users %></td>
<td>
<%= f.text_field :no_of_users %></td></tr>
<tr><td><%= f.label :no_of_courses %></td>
<td>
<%= f.text_field :no_of_courses %></td></tr>
<tr><td><%= f.label :activate %></td>
<td>
<%= f.check_box :active %></td></tr>
<tr><td><%= f.submit "Save" %></td></tr></table>

<a class="twitter-timeline" href="https://twitter.com/justmaivetrivel" data-widget-id="347299910313447425">Tweets by @justmaivetrivel</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<% end %>

